If the random number is an odd number, print "@" instead. like the following:

In [5]:
for i in range(0,10):
  for j in range(0,10):
    value = randint(0,9)
    if value%2 != 0:
      value = "@"
    print (value, '', end ="")
  print('\n')

@ 6 @ @ 6 @ @ 2 @ @

@ @ 4 4 2 @ @ @ @ 0

@ 4 6 @ @ 0 @ @ 2 0

@ 0 2 @ @ @ 8 @ 4 2

8 0 4 @ 8 0 @ @ @ @

8 @ @ @ @ @ @ 4 6 @

@ @ @ 2 @ @ 8 4 8 2

4 @ @ 2 @ @ 2 8 @ 6

@ @ @ 0 0 2 @ @ 2 0

4 @ @ @ 0 @ 8 2 @ 4

Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [4]:
sum1 = 0
for i in range (0,10):
  sum1= 0
  for j in range(0,10):
    value = randint(0,9)
    sum1 = sum1+value
    print(value, '', end="")
  print('*', sum1)

8 0 7 1 0 6 2 0 8 3 * 35
3 0 1 7 0 0 0 3 4 9 * 27
0 2 8 4 6 9 7 2 3 8 * 49
4 8 8 8 0 5 8 4 5 6 * 56
2 5 9 8 0 2 2 0 3 4 * 35
3 0 9 8 2 6 3 7 7 9 * 54
0 2 6 4 4 3 9 2 8 2 * 40
8 0 6 2 5 9 8 9 6 0 * 53
2 7 8 4 7 3 5 2 1 0 * 39
8 1 6 7 7 7 9 6 9 5 * 65

Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [3]:
import pandas as pd
from random import randint

outside_size = 10 # How many nested lists to include
inside_size = 10  # How many numbers will be in an inside list
outside_list = [] # The final list
for i in range(0, outside_size, 1):
    _list = [] # Create new "inside" (nested) list
    for j in range(0, inside_size, 1): # Populate the nested list with random numbers
        _list.append(randint(0, 100))
    outside_list.append(_list) # Add the inside (nested) list to the outside (final) list

df = pd.DataFrame(outside_list) # Create the dataframe from it
print(df)

    0   1   2   3   4   5   6   7   8   9
0  25  59  67  78  34   2  84  99  72  15
1  74  79  63  19  73  79  15  20  27  27
2  76  45  88  75  78  12  80  53  72  69
3  87  16  57  81  10  50   5  40  67  76
4  15  32  41  47  95  86  66  44  47  28
5  61  35  91  71  89  68  18  98  41  93
6  78  75  43  84  17  81   6  11  20  24
7  87  65  35  73  76  38  43  27  20  89
8  73  40  96  64  50  21  58  56  55  55
9  35  38  90  58  98  32  45  87  65  24