If the random number is an odd number, print "@" instead. like the following:

In [4]:
for i in range(0,10):
  for j in range(0,10):
    value = randint(0,9)
    if value%2 != 0:
      value = "@"
    print (value, '', end ="")
  print('\n')

2 @ @ @ @ 2 0 0 @ @

6 @ 2 0 2 2 @ @ 6 @

0 0 @ @ 4 @ @ 2 8 2

@ 0 8 0 @ 0 8 @ 8 @

@ 2 8 4 @ @ 6 @ 8 2

8 4 0 0 6 4 @ 4 @ @

6 @ 2 @ @ 6 8 @ 8 2

4 @ @ @ @ @ @ 2 8 8

@ @ 0 0 @ @ 6 2 @ @

8 0 @ @ 2 @ 6 @ @ 6

Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [5]:
sum1 = 0
for i in range (0,10):
  for j in range(0,10):
    value = randint(0,9)
    sum1 = sum1+value
    print(value, '', end="")
  print('*', sum1)

0 9 7 3 9 1 3 1 0 4 * 37
0 2 2 9 1 6 3 5 3 0 * 68
0 0 0 1 4 2 6 9 6 4 * 100
6 7 0 2 9 8 7 1 0 3 * 143
3 4 1 7 6 6 5 3 6 1 * 185
1 4 9 9 9 6 0 7 9 1 * 240
5 3 6 0 5 5 5 6 9 9 * 293
3 0 5 5 1 5 6 2 6 3 * 329
4 4 3 1 5 9 5 4 6 8 * 378
8 4 4 0 8 3 8 0 8 8 * 429

Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [6]:
import pandas as pd
from random import randint

outside_size = 10 # How many nested lists to include
inside_size = 10  # How many numbers will be in an inside list
outside_list = [] # The final list
for i in range(0, outside_size, 1):
    _list = [] # Create new "inside" (nested) list
    for j in range(0, inside_size, 1): # Populate the nested list with random numbers
        _list.append(randint(0, 100))
    outside_list.append(_list) # Add the inside (nested) list to the outside (final) list

df = pd.DataFrame(outside_list) # Create the dataframe from it
print(df)

    0   1   2   3    4   5   6   7   8   9
0  94  51  94  96   72   6  81  95   6  28
1  80  36  65  70   26   0  47  36   2  89
2  44  11  14  31   96  80  84  38  37  97
3   8  51  58  90    6  62  43  59  16  82
4  63  91  99  92   41  17  77  16  86  82
5  35  30  61  49   79  45  59  14  34  74
6  72  66  87  26   21  37  90  68  73  93
7  11   6  93  12   84  39   2  33  58  36
8  37  53  93  24   67  20  97  61  87  75
9  76   9  26   1  100  17  77   2  14  75