In [1]:
import random

low = 0
high = 9
cols = 10
rows = 10
for i in range(0,cols):
    for j in range(0,rows):
        val = random.randint(low,high)
        print(val, end =" ")
    print('')

8 9 8 8 4 8 4 8 7 2
2 7 3 1 9 1 3 6 8 6
3 8 8 6 5 1 2 4 9 5
1 9 2 2 2 9 7 0 2 1
0 4 0 3 4 9 7 6 4 8
6 8 9 3 2 9 4 3 1 0
0 2 5 3 6 9 3 4 7 7
0 0 5 5 0 1 5 5 6 5
6 5 6 0 5 3 7 5 8 6
0 8 9 0 0 0 7 1 3 3

```
2. If the random number is an odd number, print "@" instead.  like the following:
@ @ 0 2 6 @ 8 8 0 0 
@ 4 @ 4 4 @ 2 @ 2 2 
@ 6 8 @ @ @ 0 @ 0 @ 
2 6 @ 0 @ 2 @ @ 0 @ 
8 4 @ @ @ 0 @ @ 6 @ 
@ @ 4 6 @ @ @ 2 @ 2 
@ @ @ @ 4 @ @ 2 2 0 
@ 6 @ 0 0 8 @ 2 0 @ 
8 8 @ @ @ 0 0 @ 4 6 
@ 2 2 6 8 2 @ @ @ 6

In [3]:
from random import randint

for i in range(0,10):
  for j in range(0,10):
    value = randint(0,9)
    if value%2 != 0:
      value = "@"
    print (value, '', end ="")
  print('\n')

@ 0 6 @ @ @ @ @ @ @

@ @ 4 @ @ @ @ @ 6 0

@ 4 @ 2 0 @ @ @ @ @

@ 4 2 @ 4 @ 2 @ 6 @

@ 2 8 8 2 @ @ 6 8 2

@ 8 4 @ 4 @ 8 @ @ 0

4 @ @ @ @ @ @ @ 4 @

@ 4 2 @ @ 4 0 @ @ 8

@ 0 4 4 @ 4 4 0 0 @

8 6 0 4 2 0 2 4 @ 2

3. Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):
```
7 6 5 8 8 0 7 6 0 1 * 48 
8 5 7 9 8 0 9 3 0 1 * 50 
4 0 3 5 3 9 0 8 3 9 * 44 
3 5 5 3 8 3 4 3 2 2 * 38 
7 7 4 1 2 7 2 3 0 8 * 41 
3 9 7 7 0 9 4 0 6 5 * 50 
1 9 7 1 3 0 0 1 4 5 * 31 
4 4 0 6 7 4 5 6 9 3 * 48 
2 1 1 4 2 0 1 2 9 2 * 24
2 1 6 7 7 8 1 0 0 4 * 36
```

---

In [4]:
sum1 = 0
for i in range (0,10):
  sum1= 0
  for j in range(0,10):
    value = randint(0,9)
    sum1 = sum1+value
    print(value, '', end="")
  print('*', sum1)

3 9 2 9 8 0 1 3 2 0 * 37
4 4 2 4 8 4 1 4 9 9 * 49
5 5 9 4 3 5 0 8 2 9 * 50
4 2 7 5 1 8 6 3 3 4 * 43
5 9 8 1 5 4 8 4 0 7 * 51
5 5 9 9 6 4 9 3 0 1 * 51
4 4 1 0 1 5 6 6 3 0 * 30
8 5 0 6 5 0 3 3 6 0 * 36
9 4 6 7 9 0 7 7 9 2 * 60
8 6 3 3 6 6 5 1 5 3 * 46