In [5]:
import random
from random import randint

In [6]:
low = 0
high = 10
cols = 10
rows = 10

In [7]:
[random.choices(range(low,high), k=cols) for _ in range(rows)]

[[7, 8, 6, 9, 2, 0, 6, 0, 5, 4],
 [0, 4, 1, 4, 6, 2, 6, 7, 1, 1],
 [2, 1, 8, 9, 7, 9, 4, 7, 6, 5],
 [7, 7, 9, 2, 3, 7, 8, 6, 1, 1],
 [6, 4, 3, 3, 9, 5, 3, 2, 7, 4],
 [0, 0, 6, 3, 8, 5, 1, 2, 3, 0],
 [3, 9, 3, 3, 8, 7, 2, 3, 4, 2],
 [7, 1, 5, 1, 7, 8, 6, 3, 2, 4],
 [1, 8, 1, 1, 5, 8, 8, 6, 2, 4],
 [0, 2, 4, 9, 1, 5, 4, 4, 3, 3]]

In [9]:
for i in range(0,10):
  for j in range(0,10):
    value = randint(0,9)
    if value%2 != 0:
      value = "@"
    print (value, '', end ="")
  print('\n')

6 @ 4 0 @ 2 6 8 @ 4

@ @ @ 4 @ 2 @ 8 4 @

@ 0 0 2 @ 4 2 2 @ 4

4 @ @ 8 4 @ 4 @ @ @

@ 8 4 8 @ @ @ @ 4 6

0 8 @ @ @ 8 @ @ 8 8

@ @ 8 @ @ 6 6 @ @ @

4 6 @ @ @ 2 8 8 @ @

@ @ @ 6 4 @ @ 4 @ @

8 6 @ 4 @ @ @ @ @ @

In [11]:
sum1 = 0
for i in range (0,10):
  for j in range(0,10):
    value = randint(0,9)
    sum1 = sum1+value
    print(value, '', end="")
  print('*', sum1)

4 1 6 5 5 7 2 0 9 8 * 47
8 0 2 8 3 7 4 5 6 9 * 99
2 6 8 1 8 4 7 4 9 2 * 150
8 0 8 6 4 1 7 9 2 0 * 195
8 9 3 7 3 5 8 2 0 5 * 245
2 0 9 3 3 6 7 3 4 6 * 288
4 7 0 5 5 7 9 9 9 1 * 344
0 8 1 5 7 8 3 7 9 8 * 400
2 3 4 2 0 8 6 4 7 1 * 437
2 4 1 8 5 6 3 7 7 9 * 489