Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [1]:
import pandas as pd

Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [2]:
df_list = pd.read_html("https://www.genealogybranches.com/censuscosts.html")
len(df_list)

2

In [3]:
df1 = df_list[0]
df1.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [4]:
df1.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [5]:
first_row = df1.iloc[0]
first_row

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [6]:
df1.columns = first_row
df1.head()

0  Census Year  Total Population  Census Cost  Average Cost Per Person
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [7]:
df1.head()

0  Census Year  Total Population  Census Cost  Average Cost Per Person
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

Problems with the above data frame



1.   2010 has an "*" which counts as unclear dataset
2.   Billion does not have zeros but it is spelled out, it is also a form of unclear data
3. Average cost per person has cents written next to it, makes it harder to form assumptions
4. Average cost per person also has "," at the end which needs to be removed

**Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.**

Let's define function for that

In [8]:
def cleanse_cost(raw_cost):
    cost = raw_cost.lstrip("$").replace(",","")
    if  raw_cost.find("4.5") != -1:          # if "4.5" in raw_cost:
        cost = "45" + "0" * 8
    elif raw_cost.find("Billion") != -1:     # elif "Billion" in raw_cost: 
        cost = "13" + "0" * 9
    return cost

Now Let's apply it on census cost

In [9]:
df1["new cost"] = df1["Census Cost"].apply(cleanse_cost)
df1.head()

,Census Year,Total Population,Census Cost,Average Cost Per Person,new cost
0,Census Year,Total Population,Census Cost,Average Cost Per Person,Census Cost
1,1790,3929214,"$44,377",1.13 cents,44377
2,1800,5308483,"$66,109",1.24 cents,66109
3,1810,7239881,"$178,445",2.46 cents,178445
4,1820,9633822,"$208,526",2.16 cents,208526

Now our census cost is clean

**Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list"**

Let's define function for that

In [10]:
def cleanse_pop(raw_pop):
    pop = raw_pop.replace(",","")
    return pop

Now Let's apply it on total population

In [11]:
df1["new population"] = df1["Total Population"].apply(cleanse_pop)
df1.head()

,Census Year,Total Population,Census Cost,Average Cost Per Person,new cost,new population
0,Census Year,Total Population,Census Cost,Average Cost Per Person,Census Cost,Total Population
1,1790,3929214,"$44,377",1.13 cents,44377,3929214
2,1800,5308483,"$66,109",1.24 cents,66109,5308483
3,1810,7239881,"$178,445",2.46 cents,178445,7239881
4,1820,9633822,"$208,526",2.16 cents,208526,9633822

Now the total population is clean

**Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "" from the last element "2010". Print the cleansed year_list.**

Let's define function for that

In [17]:
def cleanse_year(raw_pop):
    pop = raw_pop.replace("*","")
    return pop

Let's apply it on census Year

In [35]:
df1["new year"] = df1["Census Year"].apply(cleanse_year)
df1.head(2)

,Census Year,Total Population,Census Cost,Average Cost Per Person,new cost,new population,new year,new cost per person
0,Census Year,Total Population,Census Cost,Average Cost Per Person,Census Cost,Total Population,Census Year,Average Cost Per Perso
1,1790,3929214,"$44,377",1.13 cents,44377,3929214,1790,0.0113

**Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.**

Let's deinfe function for this

In [19]:
def cleanse_ncpp(raw_ncpp):
    ncpp = raw_ncpp.rstrip("cents")
    if  raw_ncpp.find("cents") != -1:
        ncpp1 = float(ncpp)
        ncpp = ncpp1/100
    return ncpp

In [36]:
df1["new cost per person"] = df1["Average Cost Per Person"].apply(cleanse_ncpp)
df1.head(2)

,Census Year,Total Population,Census Cost,Average Cost Per Person,new cost,new population,new year,new cost per person
0,Census Year,Total Population,Census Cost,Average Cost Per Person,Census Cost,Total Population,Census Year,Average Cost Per Perso
1,1790,3929214,"$44,377",1.13 cents,44377,3929214,1790,0.0113

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 8 columns):
Census Year                24 non-null object
Total Population           24 non-null object
Census Cost                24 non-null object
Average Cost Per Person    24 non-null object
new cost                   24 non-null object
new population             24 non-null object
new year                   24 non-null object
new cost per person        24 non-null object
dtypes: object(8)
memory usage: 1.6+ KB

In [28]:
df2= df1[['new cost','new population', 'new year','new cost per person']]

In [37]:
df2.head(2)

0     new cost    new population     new year     new cost per person
0  Census Cost  Total Population  Census Year  Average Cost Per Perso
1        44377           3929214         1790                  0.0113

After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [30]:
import csv
with open('census_cost_cleansed.csv', 'r', newline='') as f:
    fieldnames = ['year_list','pop_list','cost_list','avg_list']
    thewriter = csv.DictWriter(f, fieldnames= fieldnames)

In [31]:
print(thewriter)

<csv.DictWriter object at 0x00000184421376D8>

In [32]:
df2.to_csv(r'C:\Users\Sunny\Desktop\data 690/census_cost_cleansed.csv', index = False)

In [33]:
df3=pd.read_csv("census_cost_cleansed.csv")

In [38]:
df3.head(2)

      new cost    new population     new year     new cost per person
0  Census Cost  Total Population  Census Year  Average Cost Per Perso
1        44377           3929214         1790                  0.0113

In [40]:
df3.tail(3)

       new cost new population new year new cost per person
21   2492830000      248718301     1990              $10.02
22   4500000000      281421906     2000              $15.99
23  13000000000      308745538     2010              $42.11