In [1]:
import pandas as pd

In [12]:
dframe= pd.read_csv("a.csv")

In [3]:
dframe

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,0.7106,0.7418,5207.0,1185.0,1410.0,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,0.4009,0.5488,13308.0,9888.0,1948.0,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,0.5000,0.5000,431.0,437.0,4.0,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,0.2012,0.4231,7519.0,2378.0,1203.0,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,0.7594,0.7402,5229.0,687.0,1143.0,NaN,NaN,NaN,NaN
5,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,35487-0100,NaN,NaN,NaN,...,NaN,0.1699,0.4044,35625.0,6209.0,7512.0,NaN,NaN,NaN,NaN
6,100760,100700,1007,Central Alabama Community College,Alexander City,AL,35010,NaN,NaN,NaN,...,NaN,0.5971,0.2412,2419.0,NaN,340.0,NaN,NaN,NaN,NaN
7,100812,100800,1008,Athens State University,Athens,AL,35611,NaN,NaN,NaN,...,NaN,NaN,NaN,4070.0,43.0,0.0,NaN,NaN,NaN,NaN
8,100830,831000,8310,Auburn University at Montgomery,Montgomery,AL,36117-3596,NaN,NaN,NaN,...,NaN,0.5305,0.6470,5004.0,771.0,558.0,NaN,NaN,NaN,NaN
9,100858,100900,1009,Auburn University,Auburn,AL,36849,NaN,NaN,NaN,...,NaN,0.1273,0.3234,23846.0,6546.0,4487.0,NaN,NaN,NaN,NaN
10,100937,101200,1012,Birmingham-Southern College,Birmingham,AL,35254,NaN,NaN,NaN,...,NaN,0.2561,0.4726,1325.0,NaN,328.0,NaN,NaN,NaN,NaN
11,101028,1218200,12182,Chattahoochee Valley Community College,Phenix City,AL,36869,NaN,NaN,NaN,...,NaN,0.6416,0.1468,2149.0,NaN,293.0,NaN,NaN,NaN,NaN
12,101073,1055400,10554,Concordia College Alabama,Selma,AL,36701,NaN,NaN,NaN,...,NaN,0.6875,0.6328,345.0,NaN,128.0,NaN,NaN,NaN,NaN
13,101116,1303906,13039,South University-Montgomery,Montgomery,AL,36116,NaN,NaN,NaN,...,NaN,0.9000,0.9000,643.0,175.0,20.0,NaN,NaN,NaN,NaN
14,101143,101500,1015,Enterprise State Community College,Enterprise,AL,36330-1300,NaN,NaN,NaN,...,NaN,0.5574,0.2095,2458.0,NaN,296.0,NaN,NaN,NaN,NaN
15,101161,106000,1060,Coastal Alabama Community College,Bay Minette,AL,36507-2698,NaN,NaN,NaN,...,NaN,0.5403,0.5499,7048.0,NaN,1042.0,NaN,NaN,NaN,NaN
16,101189,100300,1003,Faulkner University,Montgomery,AL,36109-3390,NaN,NaN,NaN,...,NaN,0.5375,0.7231,3143.0,962.0,307.0,NaN,NaN,NaN,NaN
17,101240,101700,1017,Gadsden State Community College,Gadsden,AL,35903,NaN,NaN,NaN,...,NaN,0.6629,0.0000,7080.0,NaN,979.0,NaN,NaN,NaN,NaN
18,101277,4187200,41872,New Beginning College of Cosmetology,Albertville,AL,35951,NaN,NaN,NaN,...,NaN,0.7465,0.4225,118.0,NaN,71.0,NaN,NaN,NaN,NaN
19,101286,101800,1018,George C Wallace Community College-Dothan,Dothan,AL,36303-9234,NaN,NaN,NaN,...,NaN,0.6521,0.0000,6098.0,NaN,733.0,NaN,NaN,NaN,NaN
20,101295,787100,7871,George C Wallace State Community College-Hance...,Hanceville,AL,35077-2000,NaN,NaN,NaN,...,NaN,0.5496,0.3183,7270.0,NaN,908.0,NaN,NaN,NaN,NaN
21,101301,569900,5699,George C Wallace State Community College-Selma,Selma,AL,36703-2808,NaN,NaN,NaN,...,NaN,0.8706,0.0000,2765.0,NaN,340.0,NaN,NaN,NaN,NaN
22,101365,962107,9621,Herzing University-Birmingham,Birmingham,AL,35209,NaN,NaN,NaN,...,NaN,0.9000,0.9000,938.0,20.0,10.0,NaN,NaN,NaN,NaN
23,101435,101900,1019,Huntingdon College,Montgomery,AL,36106-2148,NaN,NaN,NaN,...,NaN,0.4007,0.7653,1321.0,NaN,277.0,NaN,NaN,NaN,NaN
24,101453,2199700,21997,Heritage Christian University,Florence,AL,35630-9977,NaN,NaN,NaN,...,NaN,0.0000,0.0000,66.0,36.0,1.0,NaN,NaN,NaN,NaN
25,101462,526000,5260,J. F. Drake State Community and Technical College,Huntsville,AL,35811,NaN,NaN,NaN,...,NaN,0.7967,0.0000,1203.0,NaN,123.0,NaN,NaN,NaN,NaN
26,101471,3002500,30025,J F Ingram State Technical College,Deatsville,AL,36022,NaN,NaN,NaN,...,NaN,0.1617,0.0000,817.0,NaN,235.0,NaN,NaN,NaN,NaN
27,101480,102000,1020,Jacksonville State University,Jacksonville,AL,36265,NaN,NaN,NaN,...,NaN,0.4042,0.5270,8847.0,1319.0,1294.0,NaN,NaN,NaN,NaN
28,101499,106010,1060,Jefferson Davis Community College,Brewton,AL,36426,NaN,NaN,NaN,...,NaN,0.3506,0.0000,1486.0,NaN,251.0,NaN,NaN,NaN,NaN
29,101505,102200,1022,Jefferson State Community College,Birmingham,AL,35215-3098,NaN,NaN,NaN,...,NaN,0.4958,0.2539,13564.0,NaN,1079.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7082,47503301,4208601,42086,Relay Graduate School of Education - Newark,Newark,NJ,07102,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7083,47503302,4208602,42086,Relay Graduate School of Education - New Orleans,New Orleans,LA,70112,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7084,47503303,4208605,42086,Relay Graduate School of Education - Delaware,Wilmington,DE,19801,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7085,47503304,4208606,42086,Relay Graduate School of Education - Memphis,Memphis,TN,38104,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7086,47503305,4208603,42086,Relay Graduate School of Education - Houston,Houston,TX,77036,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7087,47503306,4208604,42086,Relay Graduate School of Education - Chicago,Chicago,IL,606324906,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7088,47503307,4208607,42086,Relay Graduate School of Education - Baton Rouge,Baton Rouge,LA,70801,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7089,47503308,4208608,42086,Relay Graduate School of Education - Philadelp...,Philadelphia,PA,191224906,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7090,47503309,4208609,42086,Relay Graduate School of Education - Denver,Denver,CO,802112534,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7091,47503310,4208610,42086,Relay Graduate School of Education - Nashville,Nashville,TN,372075155,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7092,47503311,4208611,42086,Relay Graduate School of Education - San Antonio,San Antonio,TX,782155155,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7093,47503312,4208612,42086,Relay Graduate School of Education - Dallas-Fo...,Dallas,TX,75232,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7094,47503313,4208613,42086,Relay Graduate School of Education - Washingto...,Washington,DC,20002,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7095,47647001,4088301,40883,WestMed College - Merced,Merced,CA,953400000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7096,47662901,4189101,41891,Salon Institute - Columbus Campus,Lewis Center,OH,430359153,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7097,47691101,4205801,42058,SAE Institute of Technology San Francisco,Emeryville,CA,94608,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7098,48065701,869423,8694,Rasmussen College - Overland Park,Overland Park,KS,662102786,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7099,48079001,4218901,42189,Rocky Vista University - Southern Utah,Ivins,UT,847386756,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7100,48092101,4220001,42200,Designer Barber & Stylist School -,Springdale,AR,727620990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7101,48133101,4213501,42135,Sharp Edgez Barber Institute - Buffalo,Buffalo,NY,142170000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7102,48154401,4220901,42209,National Personal Training Institute of Cleveland,Highland Heights,OH,44143,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7103,48305401,4224601,42246,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7104,48312401,108131,1081,Arizona State University at Tucson,Tucson,AZ,857454284,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7105,48312402,108161,1081,Arizona State University - ASU Colleges at Lak...,Lake Havasu City,AZ,864036877,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7106,48312403,108162,1081,Arizona State University at The Gila Valley,Thatcher,AZ,855525545,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7107,48312404,108163,1081,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7108,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7109,48400201,4228101,42281,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7110,48778201,4221501,42215,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7111,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dframe.shape

(7112, 1986)

In [5]:
dframe.head(5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,0.7106,0.7418,5207.0,1185.0,1410.0,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,0.4009,0.5488,13308.0,9888.0,1948.0,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,0.5000,0.5000,431.0,437.0,4.0,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,0.2012,0.4231,7519.0,2378.0,1203.0,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,0.7594,0.7402,5229.0,687.0,1143.0,NaN,NaN,NaN,NaN

In [6]:
dframe.tail(5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
7107,48312404,108163,1081,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7108,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7109,48400201,4228101,42281,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7110,48778201,4221501,42215,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7111,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
dframe.sample()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
6033,476823,4202600,42026,New Dimensions Beauty Academy Inc,Parker,CO,80138-9801,NaN,NaN,NaN,...,NaN,0.6667,1.0,88.0,NaN,12.0,NaN,NaN,NaN,NaN

In [10]:
list(dframe.columns.values)

['UNITID',
 'OPEID',
 'OPEID6',
 'INSTNM',
 'CITY',
 'STABBR',
 'ZIP',
 'ACCREDAGENCY',
 'INSTURL',
 'NPCURL',
 'SCH_DEG',
 'HCM2',
 'MAIN',
 'NUMBRANCH',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'ST_FIPS',
 'REGION',
 'LOCALE',
 'LOCALE2',
 'LATITUDE',
 'LONGITUDE',
 'CCBASIC',
 'CCUGPROF',
 'CCSIZSET',
 'HBCU',
 'PBI',
 'ANNHI',
 'TRIBAL',
 'AANAPII',
 'HSI',
 'NANTI',
 'MENONLY',
 'WOMENONLY',
 'RELAFFIL',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SATVR25',
 'SATVR75',
 'SATMT25',
 'SATMT75',
 'SATWR25',
 'SATWR75',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCM25',
 'ACTCM75',
 'ACTEN25',
 'ACTEN75',
 'ACTMT25',
 'ACTMT75',
 'ACTWR25',
 'ACTWR75',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'SAT_AVG',
 'SAT_AVG_ALL',
 'PCIP01',
 'PCIP03',
 'PCIP04',
 'PCIP05',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP12',
 'PCIP13',
 'PCIP14',
 'PCIP15',
 'PCIP16',
 'PCIP19',
 'PCIP22',
 'PCIP23',
 'PCIP24',
 'PCIP25',
 'PCIP26',
 'PCIP27',
 'PCIP29',
 'PCIP30',
 'PCIP31',
 'PCIP38',
 'PCIP39',
 'PCIP40',
 'PCIP41',
 'PCIP42',
 'PCIP43',
 'PCIP44',
 'PCIP45',
 'PCIP46',
 'PCIP47',
 'PCIP48',
 'PCIP49',
 'PCIP50',
 'PCIP51',
 'PCIP52',
 'PCIP54',
 'CIP01CERT1',
 'CIP01CERT2',
 'CIP01ASSOC',
 'CIP01CERT4',
 'CIP01BACHL',
 'CIP03CERT1',
 'CIP03CERT2',
 'CIP03ASSOC',
 'CIP03CERT4',
 'CIP03BACHL',
 'CIP04CERT1',
 'CIP04CERT2',
 'CIP04ASSOC',
 'CIP04CERT4',
 'CIP04BACHL',
 'CIP05CERT1',
 'CIP05CERT2',
 'CIP05ASSOC',
 'CIP05CERT4',
 'CIP05BACHL',
 'CIP09CERT1',
 'CIP09CERT2',
 'CIP09ASSOC',
 'CIP09CERT4',
 'CIP09BACHL',
 'CIP10CERT1',
 'CIP10CERT2',
 'CIP10ASSOC',
 'CIP10CERT4',
 'CIP10BACHL',
 'CIP11CERT1',
 'CIP11CERT2',
 'CIP11ASSOC',
 'CIP11CERT4',
 'CIP11BACHL',
 'CIP12CERT1',
 'CIP12CERT2',
 'CIP12ASSOC',
 'CIP12CERT4',
 'CIP12BACHL',
 'CIP13CERT1',
 'CIP13CERT2',
 'CIP13ASSOC',
 'CIP13CERT4',
 'CIP13BACHL',
 'CIP14CERT1',
 'CIP14CERT2',
 'CIP14ASSOC',
 'CIP14CERT4',
 'CIP14BACHL',
 'CIP15CERT1',
 'CIP15CERT2',
 'CIP15ASSOC',
 'CIP15CERT4',
 'CIP15BACHL',
 'CIP16CERT1',
 'CIP16CERT2',
 'CIP16ASSOC',
 'CIP16CERT4',
 'CIP16BACHL',
 'CIP19CERT1',
 'CIP19CERT2',
 'CIP19ASSOC',
 'CIP19CERT4',
 'CIP19BACHL',
 'CIP22CERT1',
 'CIP22CERT2',
 'CIP22ASSOC',
 'CIP22CERT4',
 'CIP22BACHL',
 'CIP23CERT1',
 'CIP23CERT2',
 'CIP23ASSOC',
 'CIP23CERT4',
 'CIP23BACHL',
 'CIP24CERT1',
 'CIP24CERT2',
 'CIP24ASSOC',
 'CIP24CERT4',
 'CIP24BACHL',
 'CIP25CERT1',
 'CIP25CERT2',
 'CIP25ASSOC',
 'CIP25CERT4',
 'CIP25BACHL',
 'CIP26CERT1',
 'CIP26CERT2',
 'CIP26ASSOC',
 'CIP26CERT4',
 'CIP26BACHL',
 'CIP27CERT1',
 'CIP27CERT2',
 'CIP27ASSOC',
 'CIP27CERT4',
 'CIP27BACHL',
 'CIP29CERT1',
 'CIP29CERT2',
 'CIP29ASSOC',
 'CIP29CERT4',
 'CIP29BACHL',
 'CIP30CERT1',
 'CIP30CERT2',
 'CIP30ASSOC',
 'CIP30CERT4',
 'CIP30BACHL',
 'CIP31CERT1',
 'CIP31CERT2',
 'CIP31ASSOC',
 'CIP31CERT4',
 'CIP31BACHL',
 'CIP38CERT1',
 'CIP38CERT2',
 'CIP38ASSOC',
 'CIP38CERT4',
 'CIP38BACHL',
 'CIP39CERT1',
 'CIP39CERT2',
 'CIP39ASSOC',
 'CIP39CERT4',
 'CIP39BACHL',
 'CIP40CERT1',
 'CIP40CERT2',
 'CIP40ASSOC',
 'CIP40CERT4',
 'CIP40BACHL',
 'CIP41CERT1',
 'CIP41CERT2',
 'CIP41ASSOC',
 'CIP41CERT4',
 'CIP41BACHL',
 'CIP42CERT1',
 'CIP42CERT2',
 'CIP42ASSOC',
 'CIP42CERT4',
 'CIP42BACHL',
 'CIP43CERT1',
 'CIP43CERT2',
 'CIP43ASSOC',
 'CIP43CERT4',
 'CIP43BACHL',
 'CIP44CERT1',
 'CIP44CERT2',
 'CIP44ASSOC',
 'CIP44CERT4',
 'CIP44BACHL',
 'CIP45CERT1',
 'CIP45CERT2',
 'CIP45ASSOC',
 'CIP45CERT4',
 'CIP45BACHL',
 'CIP46CERT1',
 'CIP46CERT2',
 'CIP46ASSOC',
 'CIP46CERT4',
 'CIP46BACHL',
 'CIP47CERT1',
 'CIP47CERT2',
 'CIP47ASSOC',
 'CIP47CERT4',
 'CIP47BACHL',
 'CIP48CERT1',
 'CIP48CERT2',
 'CIP48ASSOC',
 'CIP48CERT4',
 'CIP48BACHL',
 'CIP49CERT1',
 'CIP49CERT2',
 'CIP49ASSOC',
 'CIP49CERT4',
 'CIP49BACHL',
 'CIP50CERT1',
 'CIP50CERT2',
 'CIP50ASSOC',
 'CIP50CERT4',
 'CIP50BACHL',
 'CIP51CERT1',
 'CIP51CERT2',
 'CIP51ASSOC',
 'CIP51CERT4',
 'CIP51BACHL',
 'CIP52CERT1',
 'CIP52CERT2',
 'CIP52ASSOC',
 'CIP52CERT4',
 'CIP52BACHL',
 'CIP54CERT1',
 'CIP54CERT2',
 'CIP54ASSOC',
 'CIP54CERT4',
 'CIP54BACHL',
 'DISTANCEONLY',
 'UGDS',
 'UG',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'UGDS_WHITENH',
 'UGDS_BLACKNH',
 'UGDS_API',
 'UGDS_AIANOLD',
 'UGDS_HISPOLD',
 'UG_NRA',
 'UG_UNKN',
 'UG_WHITENH',
 'UG_BLACKNH',
 'UG_API',
 'UG_AIANOLD',
 'UG_HISPOLD',
 'PPTUG_EF',
 'PPTUG_EF2',
 'CURROPER',
 'NPT4_PUB',
 'NPT4_PRIV',
 'NPT4_PROG',
 'NPT4_OTHER',
 'NPT41_PUB',
 'NPT42_PUB',
 'NPT43_PUB',
 'NPT44_PUB',
 'NPT45_PUB',
 'NPT41_PRIV',
 'NPT42_PRIV',
 'NPT43_PRIV',
 'NPT44_PRIV',
 'NPT45_PRIV',
 'NPT41_PROG',
 'NPT42_PROG',
 'NPT43_PROG',
 'NPT44_PROG',
 'NPT45_PROG',
 'NPT41_OTHER',
 'NPT42_OTHER',
 'NPT43_OTHER',
 'NPT44_OTHER',
 'NPT45_OTHER',
 'NPT4_048_PUB',
 'NPT4_048_PRIV',
 'NPT4_048_PROG',
 'NPT4_048_OTHER',
 'NPT4_3075_PUB',
 'NPT4_3075_PRIV',
 'NPT4_75UP_PUB',
 'NPT4_75UP_PRIV',
 'NPT4_3075_PROG',
 'NPT4_3075_OTHER',
 'NPT4_75UP_PROG',
 'NPT4_75UP_OTHER',
 'NUM4_PUB',
 'NUM4_PRIV',
 'NUM4_PROG',
 'NUM4_OTHER',
 'NUM41_PUB',
 'NUM42_PUB',
 'NUM43_PUB',
 'NUM44_PUB',
 'NUM45_PUB',
 'NUM41_PRIV',
 'NUM42_PRIV',
 'NUM43_PRIV',
 'NUM44_PRIV',
 'NUM45_PRIV',
 'NUM41_PROG',
 'NUM42_PROG',
 'NUM43_PROG',
 'NUM44_PROG',
 'NUM45_PROG',
 'NUM41_OTHER',
 'NUM42_OTHER',
 'NUM43_OTHER',
 'NUM44_OTHER',
 'NUM45_OTHER',
 'COSTT4_A',
 'COSTT4_P',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'TUITFTE',
 'INEXPFTE',
 'AVGFACSAL',
 'PFTFAC',
 'PCTPELL',
 'C150_4',
 'C150_L4',
 'C150_4_POOLED',
 'C150_L4_POOLED',
 'POOLYRS',
 'PFTFTUG1_EF',
 'D150_4',
 'D150_L4',
 'D150_4_POOLED',
 'D150_L4_POOLED',
 'C150_4_WHITE',
 'C150_4_BLACK',
 'C150_4_HISP',
 'C150_4_ASIAN',
 'C150_4_AIAN',
 'C150_4_NHPI',
 'C150_4_2MOR',
 'C150_4_NRA',
 'C150_4_UNKN',
 'C150_4_WHITENH',
 'C150_4_BLACKNH',
 'C150_4_API',
 'C150_4_AIANOLD',
 'C150_4_HISPOLD',
 'C150_L4_WHITE',
 'C150_L4_BLACK',
 'C150_L4_HISP',
 'C150_L4_ASIAN',
 'C150_L4_AIAN',
 'C150_L4_NHPI',
 'C150_L4_2MOR',
 'C150_L4_NRA',
 'C150_L4_UNKN',
 'C150_L4_WHITENH',
 'C150_L4_BLACKNH',
 'C150_L4_API',
 'C150_L4_AIANOLD',
 'C150_L4_HISPOLD',
 'C200_4',
 'C200_L4',
 'D200_4',
 'D200_L4',
 'RET_FT4',
 'RET_FTL4',
 'RET_PT4',
 'RET_PTL4',
 'C200_4_POOLED',
 'C200_L4_POOLED',
 'POOLYRS200',
 'D200_4_POOLED',
 'D200_L4_POOLED',
 'PCTFLOAN',
 'UG25ABV',
 'CDR2',
 'CDR3',
 'DEATH_YR2_RT',
 'COMP_ORIG_YR2_RT',
 'COMP_4YR_TRANS_YR2_RT',
 'COMP_2YR_TRANS_YR2_RT',
 'WDRAW_ORIG_YR2_RT',
 'WDRAW_4YR_TRANS_YR2_RT',
 'WDRAW_2YR_TRANS_YR2_RT',
 'ENRL_ORIG_YR2_RT',
 'ENRL_4YR_TRANS_YR2_RT',
 'ENRL_2YR_TRANS_YR2_RT',
 'UNKN_ORIG_YR2_RT',
 'UNKN_4YR_TRANS_YR2_RT',
 'UNKN_2YR_TRANS_YR2_RT',
 'LO_INC_DEATH_YR2_RT',
 'LO_INC_COMP_ORIG_YR2_RT',
 'LO_INC_COMP_4YR_TRANS_YR2_RT',
 'LO_INC_COMP_2YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_ORIG_YR2_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR2_RT',
 'LO_INC_ENRL_ORIG_YR2_RT',
 'LO_INC_ENRL_4YR_TRANS_YR2_RT',
 'LO_INC_ENRL_2YR_TRANS_YR2_RT',
 'LO_INC_UNKN_ORIG_YR2_RT',
 'LO_INC_UNKN_4YR_TRANS_YR2_RT',
 'LO_INC_UNKN_2YR_TRANS_YR2_RT',
 'MD_INC_DEATH_YR2_RT',
 'MD_INC_COMP_ORIG_YR2_RT',
 'MD_INC_COMP_4YR_TRANS_YR2_RT',
 'MD_INC_COMP_2YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_ORIG_YR2_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR2_RT',
 'MD_INC_ENRL_ORIG_YR2_RT',
 'MD_INC_ENRL_4YR_TRANS_YR2_RT',
 'MD_INC_ENRL_2YR_TRANS_YR2_RT',
 'MD_INC_UNKN_ORIG_YR2_RT',
 'MD_INC_UNKN_4YR_TRANS_YR2_RT',
 'MD_INC_UNKN_2YR_TRANS_YR2_RT',
 'HI_INC_DEATH_YR2_RT',
 'HI_INC_COMP_ORIG_YR2_RT',
 'HI_INC_COMP_4YR_TRANS_YR2_RT',
 'HI_INC_COMP_2YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_ORIG_YR2_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR2_RT',
 'HI_INC_ENRL_ORIG_YR2_RT',
 'HI_INC_ENRL_4YR_TRANS_YR2_RT',
 'HI_INC_ENRL_2YR_TRANS_YR2_RT',
 'HI_INC_UNKN_ORIG_YR2_RT',
 'HI_INC_UNKN_4YR_TRANS_YR2_RT',
 'HI_INC_UNKN_2YR_TRANS_YR2_RT',
 'DEP_DEATH_YR2_RT',
 'DEP_COMP_ORIG_YR2_RT',
 'DEP_COMP_4YR_TRANS_YR2_RT',
 'DEP_COMP_2YR_TRANS_YR2_RT',
 'DEP_WDRAW_ORIG_YR2_RT',
 'DEP_WDRAW_4YR_TRANS_YR2_RT',
 'DEP_WDRAW_2YR_TRANS_YR2_RT',
 'DEP_ENRL_ORIG_YR2_RT',
 'DEP_ENRL_4YR_TRANS_YR2_RT',
 'DEP_ENRL_2YR_TRANS_YR2_RT',
 'DEP_UNKN_ORIG_YR2_RT',
 'DEP_UNKN_4YR_TRANS_YR2_RT',
 'DEP_UNKN_2YR_TRANS_YR2_RT',
 'IND_DEATH_YR2_RT',
 'IND_COMP_ORIG_YR2_RT',
 'IND_COMP_4YR_TRANS_YR2_RT',
 'IND_COMP_2YR_TRANS_YR2_RT',
 'IND_WDRAW_ORIG_YR2_RT',
 'IND_WDRAW_4YR_TRANS_YR2_RT',
 'IND_WDRAW_2YR_TRANS_YR2_RT',
 'IND_ENRL_ORIG_YR2_RT',
 'IND_ENRL_4YR_TRANS_YR2_RT',
 'IND_ENRL_2YR_TRANS_YR2_RT',
 'IND_UNKN_ORIG_YR2_RT',
 'IND_UNKN_4YR_TRANS_YR2_RT',
 'IND_UNKN_2YR_TRANS_YR2_RT',
 'FEMALE_DEATH_YR2_RT',
 'FEMALE_COMP_ORIG_YR2_RT',
 'FEMALE_COMP_4YR_TRANS_YR2_RT',
 'FEMALE_COMP_2YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_ORIG_YR2_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR2_RT',
 'FEMALE_ENRL_ORIG_YR2_RT',
 'FEMALE_ENRL_4YR_TRANS_YR2_RT',
 'FEMALE_ENRL_2YR_TRANS_YR2_RT',
 'FEMALE_UNKN_ORIG_YR2_RT',
 'FEMALE_UNKN_4YR_TRANS_YR2_RT',
 'FEMALE_UNKN_2YR_TRANS_YR2_RT',
 'MALE_DEATH_YR2_RT',
 'MALE_COMP_ORIG_YR2_RT',
 'MALE_COMP_4YR_TRANS_YR2_RT',
 'MALE_COMP_2YR_TRANS_YR2_RT',
 'MALE_WDRAW_ORIG_YR2_RT',
 'MALE_WDRAW_4YR_TRANS_YR2_RT',
 'MALE_WDRAW_2YR_TRANS_YR2_RT',
 'MALE_ENRL_ORIG_YR2_RT',
 'MALE_ENRL_4YR_TRANS_YR2_RT',
 'MALE_ENRL_2YR_TRANS_YR2_RT',
 'MALE_UNKN_ORIG_YR2_RT',
 'MALE_UNKN_4YR_TRANS_YR2_RT',
 'MALE_UNKN_2YR_TRANS_YR2_RT',
 'PELL_DEATH_YR2_RT',
 'PELL_COMP_ORIG_YR2_RT',
 'PELL_COMP_4YR_TRANS_YR2_RT',
 'PELL_COMP_2YR_TRANS_YR2_RT',
 'PELL_WDRAW_ORIG_YR2_RT',
 'PELL_WDRAW_4YR_TRANS_YR2_RT',
 'PELL_WDRAW_2YR_TRANS_YR2_RT',
 'PELL_ENRL_ORIG_YR2_RT',
 'PELL_ENRL_4YR_TRANS_YR2_RT',
 'PELL_ENRL_2YR_TRANS_YR2_RT',
 'PELL_UNKN_ORIG_YR2_RT',
 'PELL_UNKN_4YR_TRANS_YR2_RT',
 'PELL_UNKN_2YR_TRANS_YR2_RT',
 'NOPELL_DEATH_YR2_RT',
 'NOPELL_COMP_ORIG_YR2_RT',
 'NOPELL_COMP_4YR_TRANS_YR2_RT',
 'NOPELL_COMP_2YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_ORIG_YR2_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR2_RT',
 'NOPELL_ENRL_ORIG_YR2_RT',
 'NOPELL_ENRL_4YR_TRANS_YR2_RT',
 'NOPELL_ENRL_2YR_TRANS_YR2_RT',
 'NOPELL_UNKN_ORIG_YR2_RT',
 'NOPELL_UNKN_4YR_TRANS_YR2_RT',
 'NOPELL_UNKN_2YR_TRANS_YR2_RT',
 'LOAN_DEATH_YR2_RT',
 'LOAN_COMP_ORIG_YR2_RT',
 'LOAN_COMP_4YR_TRANS_YR2_RT',
 'LOAN_COMP_2YR_TRANS_YR2_RT',
 'LOAN_WDRAW_ORIG_YR2_RT',
 'LOAN_WDRAW_4YR_TRANS_YR2_RT',
 'LOAN_WDRAW_2YR_TRANS_YR2_RT',
 'LOAN_ENRL_ORIG_YR2_RT',
 'LOAN_ENRL_4YR_TRANS_YR2_RT',
 'LOAN_ENRL_2YR_TRANS_YR2_RT',
 'LOAN_UNKN_ORIG_YR2_RT',
 'LOAN_UNKN_4YR_TRANS_YR2_RT',
 'LOAN_UNKN_2YR_TRANS_YR2_RT',
 'NOLOAN_DEATH_YR2_RT',
 'NOLOAN_COMP_ORIG_YR2_RT',
 'NOLOAN_COMP_4YR_TRANS_YR2_RT',
 'NOLOAN_COMP_2YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_ORIG_YR2_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_ORIG_YR2_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_ORIG_YR2_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR2_RT',
 'FIRSTGEN_DEATH_YR2_RT',
 'FIRSTGEN_COMP_ORIG_YR2_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR2_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_ORIG_YR2_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_ORIG_YR2_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_ORIG_YR2_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR2_RT',
 'NOT1STGEN_DEATH_YR2_RT',
 'NOT1STGEN_COMP_ORIG_YR2_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR2_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_ORIG_YR2_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_ORIG_YR2_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_ORIG_YR2_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR2_RT',
 'DEATH_YR3_RT',
 'COMP_ORIG_YR3_RT',
 'COMP_4YR_TRANS_YR3_RT',
 'COMP_2YR_TRANS_YR3_RT',
 'WDRAW_ORIG_YR3_RT',
 'WDRAW_4YR_TRANS_YR3_RT',
 'WDRAW_2YR_TRANS_YR3_RT',
 'ENRL_ORIG_YR3_RT',
 'ENRL_4YR_TRANS_YR3_RT',
 'ENRL_2YR_TRANS_YR3_RT',
 'UNKN_ORIG_YR3_RT',
 'UNKN_4YR_TRANS_YR3_RT',
 'UNKN_2YR_TRANS_YR3_RT',
 'LO_INC_DEATH_YR3_RT',
 'LO_INC_COMP_ORIG_YR3_RT',
 'LO_INC_COMP_4YR_TRANS_YR3_RT',
 'LO_INC_COMP_2YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_ORIG_YR3_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR3_RT',
 'LO_INC_ENRL_ORIG_YR3_RT',
 'LO_INC_ENRL_4YR_TRANS_YR3_RT',
 'LO_INC_ENRL_2YR_TRANS_YR3_RT',
 'LO_INC_UNKN_ORIG_YR3_RT',
 'LO_INC_UNKN_4YR_TRANS_YR3_RT',
 'LO_INC_UNKN_2YR_TRANS_YR3_RT',
 'MD_INC_DEATH_YR3_RT',
 'MD_INC_COMP_ORIG_YR3_RT',
 'MD_INC_COMP_4YR_TRANS_YR3_RT',
 'MD_INC_COMP_2YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_ORIG_YR3_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR3_RT',
 'MD_INC_ENRL_ORIG_YR3_RT',
 'MD_INC_ENRL_4YR_TRANS_YR3_RT',
 'MD_INC_ENRL_2YR_TRANS_YR3_RT',
 'MD_INC_UNKN_ORIG_YR3_RT',
 'MD_INC_UNKN_4YR_TRANS_YR3_RT',
 'MD_INC_UNKN_2YR_TRANS_YR3_RT',
 'HI_INC_DEATH_YR3_RT',
 'HI_INC_COMP_ORIG_YR3_RT',
 'HI_INC_COMP_4YR_TRANS_YR3_RT',
 'HI_INC_COMP_2YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_ORIG_YR3_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR3_RT',
 'HI_INC_ENRL_ORIG_YR3_RT',
 'HI_INC_ENRL_4YR_TRANS_YR3_RT',
 'HI_INC_ENRL_2YR_TRANS_YR3_RT',
 'HI_INC_UNKN_ORIG_YR3_RT',
 'HI_INC_UNKN_4YR_TRANS_YR3_RT',
 'HI_INC_UNKN_2YR_TRANS_YR3_RT',
 'DEP_DEATH_YR3_RT',
 'DEP_COMP_ORIG_YR3_RT',
 'DEP_COMP_4YR_TRANS_YR3_RT',
 'DEP_COMP_2YR_TRANS_YR3_RT',
 'DEP_WDRAW_ORIG_YR3_RT',
 'DEP_WDRAW_4YR_TRANS_YR3_RT',
 'DEP_WDRAW_2YR_TRANS_YR3_RT',
 'DEP_ENRL_ORIG_YR3_RT',
 'DEP_ENRL_4YR_TRANS_YR3_RT',
 'DEP_ENRL_2YR_TRANS_YR3_RT',
 'DEP_UNKN_ORIG_YR3_RT',
 'DEP_UNKN_4YR_TRANS_YR3_RT',
 'DEP_UNKN_2YR_TRANS_YR3_RT',
 'IND_DEATH_YR3_RT',
 'IND_COMP_ORIG_YR3_RT',
 'IND_COMP_4YR_TRANS_YR3_RT',
 'IND_COMP_2YR_TRANS_YR3_RT',
 'IND_WDRAW_ORIG_YR3_RT',
 'IND_WDRAW_4YR_TRANS_YR3_RT',
 'IND_WDRAW_2YR_TRANS_YR3_RT',
 'IND_ENRL_ORIG_YR3_RT',
 'IND_ENRL_4YR_TRANS_YR3_RT',
 'IND_ENRL_2YR_TRANS_YR3_RT',
 'IND_UNKN_ORIG_YR3_RT',
 'IND_UNKN_4YR_TRANS_YR3_RT',
 'IND_UNKN_2YR_TRANS_YR3_RT',
 'FEMALE_DEATH_YR3_RT',
 'FEMALE_COMP_ORIG_YR3_RT',
 'FEMALE_COMP_4YR_TRANS_YR3_RT',
 'FEMALE_COMP_2YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_ORIG_YR3_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR3_RT',
 'FEMALE_ENRL_ORIG_YR3_RT',
 'FEMALE_ENRL_4YR_TRANS_YR3_RT',
 'FEMALE_ENRL_2YR_TRANS_YR3_RT',
 'FEMALE_UNKN_ORIG_YR3_RT',
 'FEMALE_UNKN_4YR_TRANS_YR3_RT',
 'FEMALE_UNKN_2YR_TRANS_YR3_RT',
 'MALE_DEATH_YR3_RT',
 'MALE_COMP_ORIG_YR3_RT',
 'MALE_COMP_4YR_TRANS_YR3_RT',
 'MALE_COMP_2YR_TRANS_YR3_RT',
 'MALE_WDRAW_ORIG_YR3_RT',
 'MALE_WDRAW_4YR_TRANS_YR3_RT',
 'MALE_WDRAW_2YR_TRANS_YR3_RT',
 'MALE_ENRL_ORIG_YR3_RT',
 'MALE_ENRL_4YR_TRANS_YR3_RT',
 'MALE_ENRL_2YR_TRANS_YR3_RT',
 'MALE_UNKN_ORIG_YR3_RT',
 'MALE_UNKN_4YR_TRANS_YR3_RT',
 'MALE_UNKN_2YR_TRANS_YR3_RT',
 'PELL_DEATH_YR3_RT',
 'PELL_COMP_ORIG_YR3_RT',
 'PELL_COMP_4YR_TRANS_YR3_RT',
 'PELL_COMP_2YR_TRANS_YR3_RT',
 'PELL_WDRAW_ORIG_YR3_RT',
 'PELL_WDRAW_4YR_TRANS_YR3_RT',
 'PELL_WDRAW_2YR_TRANS_YR3_RT',
 'PELL_ENRL_ORIG_YR3_RT',
 'PELL_ENRL_4YR_TRANS_YR3_RT',
 'PELL_ENRL_2YR_TRANS_YR3_RT',
 'PELL_UNKN_ORIG_YR3_RT',
 'PELL_UNKN_4YR_TRANS_YR3_RT',
 'PELL_UNKN_2YR_TRANS_YR3_RT',
 'NOPELL_DEATH_YR3_RT',
 'NOPELL_COMP_ORIG_YR3_RT',
 'NOPELL_COMP_4YR_TRANS_YR3_RT',
 'NOPELL_COMP_2YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_ORIG_YR3_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR3_RT',
 'NOPELL_ENRL_ORIG_YR3_RT',
 'NOPELL_ENRL_4YR_TRANS_YR3_RT',
 'NOPELL_ENRL_2YR_TRANS_YR3_RT',
 'NOPELL_UNKN_ORIG_YR3_RT',
 'NOPELL_UNKN_4YR_TRANS_YR3_RT',
 'NOPELL_UNKN_2YR_TRANS_YR3_RT',
 'LOAN_DEATH_YR3_RT',
 'LOAN_COMP_ORIG_YR3_RT',
 'LOAN_COMP_4YR_TRANS_YR3_RT',
 'LOAN_COMP_2YR_TRANS_YR3_RT',
 'LOAN_WDRAW_ORIG_YR3_RT',
 'LOAN_WDRAW_4YR_TRANS_YR3_RT',
 'LOAN_WDRAW_2YR_TRANS_YR3_RT',
 'LOAN_ENRL_ORIG_YR3_RT',
 'LOAN_ENRL_4YR_TRANS_YR3_RT',
 'LOAN_ENRL_2YR_TRANS_YR3_RT',
 'LOAN_UNKN_ORIG_YR3_RT',
 'LOAN_UNKN_4YR_TRANS_YR3_RT',
 'LOAN_UNKN_2YR_TRANS_YR3_RT',
 'NOLOAN_DEATH_YR3_RT',
 'NOLOAN_COMP_ORIG_YR3_RT',
 'NOLOAN_COMP_4YR_TRANS_YR3_RT',
 'NOLOAN_COMP_2YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_ORIG_YR3_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_ORIG_YR3_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_ORIG_YR3_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR3_RT',
 'FIRSTGEN_DEATH_YR3_RT',
 'FIRSTGEN_COMP_ORIG_YR3_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR3_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_ORIG_YR3_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_ORIG_YR3_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_ORIG_YR3_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR3_RT',
 'NOT1STGEN_DEATH_YR3_RT',
 'NOT1STGEN_COMP_ORIG_YR3_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR3_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_ORIG_YR3_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_ORIG_YR3_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_ORIG_YR3_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR3_RT',
 'DEATH_YR4_RT',
 'COMP_ORIG_YR4_RT',
 'COMP_4YR_TRANS_YR4_RT',
 'COMP_2YR_TRANS_YR4_RT',
 'WDRAW_ORIG_YR4_RT',
 'WDRAW_4YR_TRANS_YR4_RT',
 'WDRAW_2YR_TRANS_YR4_RT',
 'ENRL_ORIG_YR4_RT',
 'ENRL_4YR_TRANS_YR4_RT',
 'ENRL_2YR_TRANS_YR4_RT',
 'UNKN_ORIG_YR4_RT',
 'UNKN_4YR_TRANS_YR4_RT',
 'UNKN_2YR_TRANS_YR4_RT',
 'LO_INC_DEATH_YR4_RT',
 'LO_INC_COMP_ORIG_YR4_RT',
 'LO_INC_COMP_4YR_TRANS_YR4_RT',
 'LO_INC_COMP_2YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_ORIG_YR4_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR4_RT',
 'LO_INC_ENRL_ORIG_YR4_RT',
 'LO_INC_ENRL_4YR_TRANS_YR4_RT',
 'LO_INC_ENRL_2YR_TRANS_YR4_RT',
 'LO_INC_UNKN_ORIG_YR4_RT',
 'LO_INC_UNKN_4YR_TRANS_YR4_RT',
 'LO_INC_UNKN_2YR_TRANS_YR4_RT',
 'MD_INC_DEATH_YR4_RT',
 'MD_INC_COMP_ORIG_YR4_RT',
 'MD_INC_COMP_4YR_TRANS_YR4_RT',
 'MD_INC_COMP_2YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_ORIG_YR4_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR4_RT',
 'MD_INC_ENRL_ORIG_YR4_RT',
 'MD_INC_ENRL_4YR_TRANS_YR4_RT',
 'MD_INC_ENRL_2YR_TRANS_YR4_RT',
 'MD_INC_UNKN_ORIG_YR4_RT',
 'MD_INC_UNKN_4YR_TRANS_YR4_RT',
 'MD_INC_UNKN_2YR_TRANS_YR4_RT',
 'HI_INC_DEATH_YR4_RT',
 'HI_INC_COMP_ORIG_YR4_RT',
 'HI_INC_COMP_4YR_TRANS_YR4_RT',
 'HI_INC_COMP_2YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_ORIG_YR4_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR4_RT',
 'HI_INC_ENRL_ORIG_YR4_RT',
 'HI_INC_ENRL_4YR_TRANS_YR4_RT',
 'HI_INC_ENRL_2YR_TRANS_YR4_RT',
 'HI_INC_UNKN_ORIG_YR4_RT',
 'HI_INC_UNKN_4YR_TRANS_YR4_RT',
 'HI_INC_UNKN_2YR_TRANS_YR4_RT',
 'DEP_DEATH_YR4_RT',
 'DEP_COMP_ORIG_YR4_RT',
 'DEP_COMP_4YR_TRANS_YR4_RT',
 'DEP_COMP_2YR_TRANS_YR4_RT',
 'DEP_WDRAW_ORIG_YR4_RT',
 'DEP_WDRAW_4YR_TRANS_YR4_RT',
 'DEP_WDRAW_2YR_TRANS_YR4_RT',
 'DEP_ENRL_ORIG_YR4_RT',
 'DEP_ENRL_4YR_TRANS_YR4_RT',
 'DEP_ENRL_2YR_TRANS_YR4_RT',
 'DEP_UNKN_ORIG_YR4_RT',
 'DEP_UNKN_4YR_TRANS_YR4_RT',
 'DEP_UNKN_2YR_TRANS_YR4_RT',
 'IND_DEATH_YR4_RT',
 'IND_COMP_ORIG_YR4_RT',
 'IND_COMP_4YR_TRANS_YR4_RT',
 'IND_COMP_2YR_TRANS_YR4_RT',
 'IND_WDRAW_ORIG_YR4_RT',
 'IND_WDRAW_4YR_TRANS_YR4_RT',
 'IND_WDRAW_2YR_TRANS_YR4_RT',
 'IND_ENRL_ORIG_YR4_RT',
 'IND_ENRL_4YR_TRANS_YR4_RT',
 'IND_ENRL_2YR_TRANS_YR4_RT',
 'IND_UNKN_ORIG_YR4_RT',
 'IND_UNKN_4YR_TRANS_YR4_RT',
 'IND_UNKN_2YR_TRANS_YR4_RT',
 'FEMALE_DEATH_YR4_RT',
 'FEMALE_COMP_ORIG_YR4_RT',
 'FEMALE_COMP_4YR_TRANS_YR4_RT',
 'FEMALE_COMP_2YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_ORIG_YR4_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR4_RT',
 'FEMALE_ENRL_ORIG_YR4_RT',
 'FEMALE_ENRL_4YR_TRANS_YR4_RT',
 'FEMALE_ENRL_2YR_TRANS_YR4_RT',
 'FEMALE_UNKN_ORIG_YR4_RT',
 'FEMALE_UNKN_4YR_TRANS_YR4_RT',
 'FEMALE_UNKN_2YR_TRANS_YR4_RT',
 'MALE_DEATH_YR4_RT',
 'MALE_COMP_ORIG_YR4_RT',
 'MALE_COMP_4YR_TRANS_YR4_RT',
 'MALE_COMP_2YR_TRANS_YR4_RT',

In [17]:
df = pd.read_csv("a.csv", usecols = ['UNITID','INSTNM','CITY','ZIP','STABBR','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10'])

In [ ]:
df

In [20]:
xl = pd.ExcelFile("B.xlsx")

In [21]:
xl.sheet_names

['README',
 'ChangeLog',
 'glossary',
 'institution_data_dictionary',
 'institution_cohort_map',
 'most_recent_inst_cohort_map',
 'FieldOfStudy_data_dictionary',
 'FieldOfStudy_cohort_map']

In [22]:
df.head(5)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
0,100654,Alabama A & M University,Normal,AL,35762,0.9027,4824.0,9857.0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,0.9181,12866.0,8328.0,NaN
2,100690,Amridge University,Montgomery,AL,36117-3553,NaN,318.0,6900.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,0.8123,6917.0,10280.0,NaN
4,100724,Alabama State University,Montgomery,AL,36104-0271,0.9787,4189.0,11068.0,NaN

In [23]:
df.tail(5)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
7107,48312404,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,NaN
7108,48387801,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,NaN
7109,48400201,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,NaN
7110,48778201,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,NaN
7111,49005401,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,22575.0,NaN

In [24]:
df.sample()

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1556,166018,Hampshire College,Amherst,MA,01002-5001,0.6282,1264.0,51608.0,NaN

In [25]:
df.head()

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
0,100654,Alabama A & M University,Normal,AL,35762,0.9027,4824.0,9857.0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,0.9181,12866.0,8328.0,NaN
2,100690,Amridge University,Montgomery,AL,36117-3553,NaN,318.0,6900.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,0.8123,6917.0,10280.0,NaN
4,100724,Alabama State University,Montgomery,AL,36104-0271,0.9787,4189.0,11068.0,NaN

In [33]:
df.loc[df['INSTNM'] == 'UMBC']

Empty DataFrame
Columns: [UNITID, INSTNM, CITY, STABBR, ZIP, ADM_RATE, UGDS, TUITIONFEE_IN, MN_EARN_WNE_P10]
Index: []

In [34]:
df.loc[df['INSTNM'] == 'University of Maryland Baltimore County']

Empty DataFrame
Columns: [UNITID, INSTNM, CITY, STABBR, ZIP, ADM_RATE, UGDS, TUITIONFEE_IN, MN_EARN_WNE_P10]
Index: []

In [35]:
df.loc[df['INSTNM'] == 'University Of Maryland, Baltimore County']

Empty DataFrame
Columns: [UNITID, INSTNM, CITY, STABBR, ZIP, ADM_RATE, UGDS, TUITIONFEE_IN, MN_EARN_WNE_P10]
Index: []

In [36]:
df.tail(5)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
7107,48312404,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,NaN
7108,48387801,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,NaN
7109,48400201,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,NaN
7110,48778201,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,NaN
7111,49005401,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,22575.0,NaN

In [39]:
df.sort_index(axis=1)

,ADM_RATE,CITY,INSTNM,MN_EARN_WNE_P10,STABBR,TUITIONFEE_IN,UGDS,UNITID,ZIP
0,0.9027,Normal,Alabama A & M University,NaN,AL,9857.0,4824.0,100654,35762
1,0.9181,Birmingham,University of Alabama at Birmingham,NaN,AL,8328.0,12866.0,100663,35294-0110
2,NaN,Montgomery,Amridge University,NaN,AL,6900.0,318.0,100690,36117-3553
3,0.8123,Huntsville,University of Alabama in Huntsville,NaN,AL,10280.0,6917.0,100706,35899
4,0.9787,Montgomery,Alabama State University,NaN,AL,11068.0,4189.0,100724,36104-0271
5,0.5330,Tuscaloosa,The University of Alabama,NaN,AL,10780.0,32387.0,100751,35487-0100
6,NaN,Alexander City,Central Alabama Community College,NaN,AL,4440.0,1404.0,100760,35010
7,NaN,Athens,Athens State University,NaN,AL,NaN,2801.0,100812,35611
8,0.8240,Montgomery,Auburn University at Montgomery,NaN,AL,8020.0,4211.0,100830,36117-3596
9,0.8393,Auburn,Auburn University,NaN,AL,10968.0,23391.0,100858,36849
10,0.6186,Birmingham,Birmingham-Southern College,NaN,AL,35804.0,1283.0,100937,35254
11,NaN,Phenix City,Chattahoochee Valley Community College,NaN,AL,4314.0,1370.0,101028,36869
12,NaN,Selma,Concordia College Alabama,NaN,AL,10320.0,389.0,101073,36701
13,NaN,Montgomery,South University-Montgomery,NaN,AL,17014.0,369.0,101116,36116
14,NaN,Enterprise,Enterprise State Community College,NaN,AL,4440.0,1365.0,101143,36330-1300
15,NaN,Bay Minette,Coastal Alabama Community College,NaN,AL,4380.0,4101.0,101161,36507-2698
16,0.5101,Montgomery,Faulkner University,NaN,AL,20970.0,2272.0,101189,36109-3390
17,NaN,Gadsden,Gadsden State Community College,NaN,AL,3600.0,4349.0,101240,35903
18,NaN,Albertville,New Beginning College of Cosmetology,NaN,AL,NaN,83.0,101277,35951
19,NaN,Dothan,George C Wallace Community College-Dothan,NaN,AL,4380.0,3836.0,101286,36303-9234
20,NaN,Hanceville,George C Wallace State Community College-Hance...,NaN,AL,3726.0,4805.0,101295,35077-2000
21,NaN,Selma,George C Wallace State Community College-Selma,NaN,AL,4140.0,1217.0,101301,36703-2808
22,0.7570,Birmingham,Herzing University-Birmingham,NaN,AL,13850.0,537.0,101365,35209
23,0.5598,Montgomery,Huntingdon College,NaN,AL,26400.0,1099.0,101435,36106-2148
24,1.0000,Florence,Heritage Christian University,NaN,AL,11232.0,59.0,101453,35630-9977
25,NaN,Huntsville,J. F. Drake State Community and Technical College,NaN,AL,4410.0,685.0,101462,35811
26,NaN,Deatsville,J F Ingram State Technical College,NaN,AL,4968.0,449.0,101471,36022
27,0.5402,Jacksonville,Jacksonville State University,NaN,AL,8166.0,6622.0,101480,36265
28,NaN,Brewton,Jefferson Davis Community College,NaN,AL,4088.0,720.0,101499,36426
29,NaN,Birmingham,Jefferson State Community College,NaN,AL,4500.0,7052.0,101505,35215-3098
...,...,...,...,...,...,...,...,...,...
7082,NaN,Newark,Relay Graduate School of Education - Newark,NaN,NJ,NaN,NaN,47503301,07102
7083,NaN,New Orleans,Relay Graduate School of Education - New Orleans,NaN,LA,NaN,NaN,47503302,70112
7084,NaN,Wilmington,Relay Graduate School of Education - Delaware,NaN,DE,NaN,NaN,47503303,19801
7085,NaN,Memphis,Relay Graduate School of Education - Memphis,NaN,TN,NaN,NaN,47503304,38104
7086,NaN,Houston,Relay Graduate School of Education - Houston,NaN,TX,NaN,NaN,47503305,77036
7087,NaN,Chicago,Relay Graduate School of Education - Chicago,NaN,IL,NaN,NaN,47503306,606324906
7088,NaN,Baton Rouge,Relay Graduate School of Education - Baton Rouge,NaN,LA,NaN,NaN,47503307,70801
7089,NaN,Philadelphia,Relay Graduate School of Education - Philadelp...,NaN,PA,NaN,NaN,47503308,191224906
7090,NaN,Denver,Relay Graduate School of Education - Denver,NaN,CO,NaN,NaN,47503309,802112534
7091,NaN,Nashville,Relay Graduate School of Education - Nashville,NaN,TN,NaN,NaN,47503310,372075155
7092,NaN,San Antonio,Relay Graduate School of Education - San Antonio,NaN,TX,NaN,NaN,47503311,782155155
7093,NaN,Dallas,Relay Graduate School of Education - Dallas-Fo...,NaN,TX,NaN,NaN,47503312,75232
7094,NaN,Washington,Relay Graduate School of Education - Washingto...,NaN,DC,NaN,NaN,47503313,20002
7095,NaN,Merced,WestMed College - Merced,NaN,CA,NaN,NaN,47647001,953400000
7096,NaN,Lewis Center,Salon Institute - Columbus Campus,NaN,OH,NaN,NaN,47662901,430359153
7097,NaN,Emeryville,SAE Institute of Technology San Francisco,NaN,CA,NaN,NaN,47691101,94608
7098,NaN,Overland Park,Rasmussen College - Overland Park,NaN,KS,10935.0,NaN,48065701,662102786
7099,NaN,Ivins,Rocky Vista University - Southern Utah,NaN,UT,NaN,NaN,48079001,847386756
7100,NaN,Springdale,Designer Barber & Stylist School -,NaN,AR,NaN,NaN,48092101,727620990
7101,NaN,Buffalo,Sharp Edgez Barber Institute - Buffalo,NaN,NY,NaN,NaN,48133101,142170000
7102,NaN,Highland Heights,National Personal Training Institute of Cleveland,NaN,OH,NaN,NaN,48154401,44143
7103,NaN,Ambridge,Barber School of Pittsburgh - Ambridge,NaN,PA,NaN,NaN,48305401,150030000
7104,NaN,Tucson,Arizona State University at Tucson,NaN,AZ,NaN,NaN,48312401,857454284
7105,NaN,Lake Havasu City,Arizona State University - ASU Colleges at Lak...,NaN,AZ,6904.0,NaN,48312402,864036877
7106,NaN,Thatcher,Arizona State University at The Gila Valley,NaN,AZ,NaN,NaN,48312403,855525545
7107,NaN,Yuma,Arizona State University at Yuma,NaN,AZ,NaN,NaN,48312404,853656900
7108,NaN,San Jose,Bay Area Medical Academy - San Jose Satellite ...,NaN,CA,NaN,NaN,48387801,95113
7109,NaN,Bakersfield,High Desert Medical College - Bakerfield,NaN,CA,NaN,NaN,48400201,93301
7110,NaN,Malden,BCI - Malden,NaN,MA,NaN,NaN,48778201,021480000
7111,NaN,Fort Lauderdale,HCI College - Fort Lauderdale Campus,NaN,FL,22575.0,NaN,49005401,33309

In [41]:
df.loc[df['INSTNM'] == 'University of Maryland, College Park']

Empty DataFrame
Columns: [UNITID, INSTNM, CITY, STABBR, ZIP, ADM_RATE, UGDS, TUITIONFEE_IN, MN_EARN_WNE_P10]
Index: []

In [44]:
df.sort_values('INSTNM')
df.sort_values('INSTNM', ascending=False)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
5147,446534,eClips School of Cosmetology and Barbering,Overland,MO,63114,NaN,24.0,NaN,NaN
2735,204255,Zane State College,Zanesville,OH,43701-2626,NaN,1110.0,4646.0,NaN
6401,486248,ZMS,Los Angeles,CA,90033-4231,NaN,38.0,NaN,NaN
5365,451237,Z Hair Academy,Overland Park,KS,66223,NaN,159.0,NaN,NaN
4486,413820,Yukon Beauty College Inc,Yukon,OK,73099,NaN,18.0,NaN,NaN
521,126119,Yuba College,Marysville,CA,95901,NaN,4889.0,1124.0,NaN
2814,206695,Youngstown State University,Youngstown,OH,44555-0001,0.6363,10039.0,8451.0,NaN
870,141361,Young Harris College,Young Harris,GA,30582,0.5251,1021.0,29062.0,NaN
3265,218991,York Technical College,Rock Hill,SC,29730,NaN,4052.0,4457.0,NaN
4562,418409,York County School of Technology-Adult & Conti...,York,PA,17402-4696,NaN,104.0,NaN,NaN
6996,42044001,York County Community College - Sanford Instru...,Sanford,ME,040735809,NaN,NaN,3570.0,NaN
4619,420440,York County Community College,Wells,ME,04090,NaN,1177.0,3570.0,NaN
3187,217059,York College of Pennsylvania,York,PA,17403-3651,0.6990,4079.0,19430.0,NaN
2022,181853,York College,York,NE,68467-2699,0.4849,428.0,18760.0,NaN
4385,401250,Yo San University of Traditional Chinese Medicine,Los Angeles,CA,90066,NaN,NaN,NaN,NaN
2468,197744,Yeshivath Zichron Moshe,South Fallsburg,NY,12779,0.9231,165.0,12740.0,NaN
2467,197735,Yeshivath Viznitz,Monsey,NY,10952,0.9750,517.0,10000.0,NaN
3186,217040,Yeshivath Beth Moshe,Scranton,PA,18505-2196,0.9167,34.0,9200.0,NaN
2462,197610,Yeshivat Mikdash Melech,Brooklyn,NY,11230-5601,1.0000,15.0,8100.0,NaN
4409,405058,Yeshivas Novominsk,Brooklyn,NY,11204-2138,0.9796,154.0,10000.0,NaN
6513,488101,Yeshivas Maharit D'Satmar,Monroe,NY,10950,NaN,99.0,11500.0,NaN
5374,451370,Yeshivas Be'er Yitzchok,Elizabeth,NJ,07208,0.8000,43.0,10650.0,NaN
4099,363712,Yeshivah Gedolah Rabbinical College,Miami Beach,FL,33139,NaN,24.0,8400.0,NaN
4719,431983,Yeshiva of the Telshe Alumni,Riverdale,NY,10471-2897,1.0000,116.0,9500.0,NaN
2464,197674,Yeshiva of Nitra Rabbinical College,Mount Kisco,NY,10549,NaN,186.0,8500.0,NaN
5491,455257,Yeshiva of Machzikai Hadas,Brooklyn,NY,11219-1408,0.8163,413.0,9200.0,NaN
2268,190752,Yeshiva of Far Rockaway Derech Ayson Rabbinica...,Far Rockaway,NY,11691-5219,0.9474,33.0,11750.0,NaN
6484,487746,Yeshiva Zichron Aryeh,Far Rockaway,NY,11691-0000,0.6000,24.0,8750.0,NaN
6152,481438,Yeshiva Yesodei Hatorah,Lakewood,NJ,08701-4946,0.9444,65.0,11000.0,NaN
2466,197708,Yeshiva University,New York,NY,10033-3299,0.6282,2703.0,42000.0,NaN
...,...,...,...,...,...,...,...,...,...
180,108232,Academy of Art University,San Francisco,CA,94105,NaN,7520.0,21252.0,NaN
5887,462062,Academy for Salon Professionals,Northridge,CA,91324,NaN,85.0,NaN,NaN
4474,412173,Academy for Nursing and Health Occupations,West Palm Beach,FL,33417,NaN,408.0,NaN,NaN
5589,457271,Academy for Jewish Religion-California,Los Angeles,CA,90024,NaN,NaN,NaN,NaN
5355,451079,Academy for Five Element Acupuncture,Gainesville,FL,32601,NaN,NaN,NaN,NaN
5643,457989,Academy for Careers and Technology,Mullins,SC,29574-6009,NaN,39.0,NaN,NaN
6044,476957,Academy di Firenze,Jerome,ID,83338-2329,NaN,15.0,NaN,NaN
5274,449463,Academy Di Capelli-School of Cosmetology,Wallingford,CT,06492,NaN,84.0,NaN,NaN
7041,44946301,Academy Di Capelli -,East Hartford,CT,061083839,NaN,NaN,NaN,NaN
1737,172866,Academy College,Bloomington,MN,55431-1411,NaN,56.0,17661.0,NaN
4641,421896,Academia Serrant Inc,Ponce,PR,00717-1568,NaN,319.0,NaN,NaN
6507,488031,Abraham Lincoln University,Glendale,CA,91210,NaN,30.0,NaN,NaN
789,138558,Abraham Baldwin Agricultural College,Tifton,GA,31793-2601,0.7021,3185.0,3503.0,NaN
3393,222178,Abilene Christian University,Abilene,TX,79699,0.5806,3655.0,33330.0,NaN
2871,208123,Abdill Career College Inc,Medford,OR,97504-7137,NaN,20.0,NaN,NaN
5874,461892,Abcott Institute,Southfield,MI,48075-5227,NaN,151.0,NaN,NaN
1972,180203,Aaniiih Nakoda College,Harlem,MT,59526,NaN,122.0,2410.0,NaN
5046,444325,ATI College-Norwalk,Whitter,CA,90603-0000,NaN,45.0,NaN,NaN
6692,11643901,ATEP at IVC,Tustin,CA,927820223,NaN,NaN,1142.0,NaN
5418,452373,ATA College - Cincinnati,Cincinnati,OH,45246,NaN,277.0,13295.0,NaN
5206,447935,ATA College,Louisville,KY,40223,NaN,289.0,11545.0,NaN
5130,446127,ATA Career Education,Spring Hill,FL,34606,NaN,251.0,12625.0,NaN
4366,391546,ASM Beauty World Academy,Hollywood,FL,33024,NaN,99.0,NaN,NaN
5968,475431,ASI Career Institute,Turnersville,NJ,08012-1043,NaN,57.0,NaN,NaN
4406,404994,ASA College,Brooklyn,NY,11201-9805,NaN,4674.0,12728.0,NaN
4672,429094,AOMA Graduate School of Integrative Medicine,Austin,TX,78745,NaN,NaN,NaN,NaN
6412,486415,AMG School of Licensed Practical Nursing,Brooklyn,NY,11201-1728,NaN,163.0,NaN,NaN
711,134811,AI Miami International University of Art and D...,Miami,FL,33132-1418,NaN,1419.0,17698.0,NaN
6368,485500,ABCO Technology,Inglewood,CA,90304-1551,NaN,50.0,NaN,NaN
1900,177834,A T Still University of Health Sciences,Kirksville,MO,63501,NaN,NaN,NaN,NaN

In [47]:
df.loc[df['ZIP'] == '21250']

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1478,163268,University of Maryland-Baltimore County,Baltimore,MD,21250,0.6021,11130.0,11518.0,NaN

In [48]:
df.loc[df['ZIP'] == '20742']

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1479,163286,University of Maryland-College Park,College Park,MD,20742,0.445,29273.0,10399.0,NaN

In [50]:
df.loc[df['INSTNM'] == 'Loyola University Maryland']

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1475,163046,Loyola University Maryland,Baltimore,MD,21210-2699,0.7528,3903.0,47560.0,NaN

In [51]:
df.loc[df['ZIP'] == '21218']

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
5834,461379,Holistic Massage Training Institute,Baltimore,MD,21218,NaN,59.0,NaN,NaN

In [52]:
df.loc[df['STABBR'] == 'MD']

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1446,161651,Aesthetics Institute of Cosmetology,Gaithersburg,MD,20877,NaN,25.0,NaN,NaN
1447,161688,Allegany College of Maryland,Cumberland,MD,21502-2596,NaN,1990.0,3940.0,NaN
1448,161767,Anne Arundel Community College,Arnold,MD,21012-1895,NaN,11294.0,4646.0,NaN
1449,161776,Brightwood College-Towson,Towson,MD,21286-2201,NaN,309.0,NaN,NaN
1450,161800,Award Beauty School,Hagerstown,MD,21740-5610,NaN,157.0,NaN,NaN
1451,161855,Baltimore Studio of Hair Design,Baltimore,MD,21201-3444,NaN,46.0,NaN,NaN
1452,161864,Baltimore City Community College,Baltimore,MD,21215-7893,NaN,3797.0,3074.0,NaN
1453,161873,University of Baltimore,Baltimore,MD,21201-5720,0.8099,2856.0,8824.0,NaN
1454,162007,Bowie State University,Bowie,MD,20715-9465,0.3600,5107.0,8064.0,NaN
1455,162061,Capitol Technology University,Laurel,MD,20708,0.7473,421.0,24788.0,NaN
1456,162104,Cecil College,North East,MD,21901-1900,NaN,2112.0,4005.0,NaN
1457,162122,College of Southern Maryland,La Plata,MD,20646-0910,NaN,6699.0,3690.0,NaN
1458,162168,Chesapeake College,Wye Mills,MD,21679-0008,NaN,1744.0,3818.0,NaN
1459,162210,Washington Adventist University,Takoma Park,MD,20912,0.6139,750.0,23400.0,NaN
1460,162283,Coppin State University,Baltimore,MD,21216-3698,0.3651,2459.0,7474.0,NaN
1461,162335,Delmarva Beauty Academy,Salisbury,MD,21804-6952,NaN,51.0,NaN,NaN
1462,162371,North American Trade Schools,Baltimore,MD,21244,NaN,448.0,NaN,NaN
1463,162557,Frederick Community College,Frederick,MD,21702-2964,NaN,4830.0,3520.0,NaN
1464,162584,Frostburg State University,Frostburg,MD,21532-1099,0.7229,4486.0,8914.0,NaN
1465,162609,Garrett College,McHenry,MD,21541,NaN,532.0,3948.0,NaN
1466,162654,Goucher College,Baltimore,MD,21204-2794,0.7884,1526.0,43440.0,NaN
1467,162681,Purdue University Global-Hagerstown,Hagerstown,MD,21742,NaN,470.0,14263.0,NaN
1468,162690,Hagerstown Community College,Hagerstown,MD,21742-6514,NaN,3181.0,3616.0,NaN
1469,162706,Harford Community College,Bel Air,MD,21015-1698,NaN,5018.0,3643.0,NaN
1470,162760,Hood College,Frederick,MD,21701,0.8113,1108.0,37960.0,NaN
1471,162779,Howard Community College,Columbia,MD,21044-3197,NaN,8943.0,3888.0,NaN
1472,162830,Aveda Institute-Maryland,Bel Air,MD,21014-3639,NaN,37.0,NaN,NaN
1473,162928,Johns Hopkins University,Baltimore,MD,21218-2688,0.1254,5663.0,52170.0,NaN
1474,163028,Lincoln College of Technology-Columbia,Columbia,MD,21046,NaN,569.0,NaN,NaN
1475,163046,Loyola University Maryland,Baltimore,MD,21210-2699,0.7528,3903.0,47560.0,NaN
...,...,...,...,...,...,...,...,...,...
4225,373784,All-State Career-Baltimore,Baltimore,MD,21224,NaN,561.0,NaN,NaN
4413,405872,Carroll Community College,Westminster,MD,21157,NaN,2559.0,3907.0,NaN
4677,430184,Strayer University-Maryland,Suitland,MD,20746,NaN,2286.0,13857.0,NaN
4752,434308,Cortiva Institute-Baltimore,Linthicum,MD,21090,NaN,458.0,NaN,NaN
4762,434672,Community College of Baltimore County,Baltimore,MD,21237,NaN,17614.0,4022.0,NaN
4769,434937,Yeshiva College of the Nations Capital,Silver Spring,MD,20902,NaN,25.0,10000.0,NaN
4770,434973,University of Phoenix-Maryland,Columbia,MD,21045-5423,NaN,29.0,NaN,NaN
4775,436030,Hair Academy II,Hillcrest Heights,MD,20748-1401,NaN,234.0,NaN,NaN
5043,444291,Empire Beauty School-Owings Mills,Owings Mills,MD,21117,NaN,93.0,NaN,NaN
5143,446394,Maple Springs Baptist Bible College and Seminary,Capitol Heights,MD,20743,NaN,36.0,NaN,NaN
5209,447971,Hair Expressions Academy,Rockville,MD,20852,NaN,103.0,NaN,NaN
5314,450076,Fortis Institute-Baltimore,Baltimore,MD,21244,NaN,87.0,NaN,NaN
5408,451909,Fortis College-Landover,Landover,MD,20785-2223,NaN,550.0,14335.0,NaN
5473,455017,Frederick School of Cosmetology,Frederick,MD,21701,NaN,23.0,NaN,NaN
5474,455026,Omega Studios' School of Applied Recording Art...,Rockville,MD,20852,NaN,103.0,NaN,NaN
5529,455901,The Temple-A Paul Mitchell Partner School,Frederick,MD,21701,NaN,183.0,NaN,NaN
5834,461379,Holistic Massage Training Institute,Baltimore,MD,21218,NaN,59.0,NaN,NaN
6016,476601,Bais HaMedrash and Mesivta of Baltimore,Baltimore,MD,21209-1613,1.0000,76.0,12700.0,NaN
6088,480310,Empire Beauty School-Glen Burnie,Glen Burnie,MD,21061,NaN,112.0,NaN,NaN
6099,480693,Columbia Institute,Silver Spring,MD,20906-4503,NaN,95.0,NaN,NaN
6118,480994,Aspen Beauty Academy of Laurel,Laurel,MD,20724,NaN,59.0,NaN,NaN
6134,481207,Institute of Health Sciences,Hunt Valley,MD,21031-1408,NaN,83.0,15150.0,NaN
6183,482103,Finger Lakes School of Massage,FREDERICK,MD,21703-3030,NaN,32.0,NaN,NaN
6483,487676,The Temple Annapolis-A Paul Mitchell Partner S...,Annapolis,MD,21401-3833,NaN,176.0,NaN,NaN
6717,12697901,Denver Seminary - Washington DC,Landover,MD,207852414,NaN,NaN,NaN,NaN
6800,16210401,Cecil College - Elkton Station,Elkton,MD,219215535,NaN,NaN,4005.0,NaN
7004,43018401,Strayer University-Rockville Campus,Rockville,MD,20850,NaN,NaN,13857.0,NaN
7005,43018402,Strayer University-Anne Arundel Campus,Millersville,MD,21108,NaN,NaN,13857.0,NaN
7006,43018403,Strayer University-White Marsh Campus,Baltimore,MD,21236,NaN,NaN,13857.0,NaN
7007,43018404,Strayer University-Owings Mills Campus,Owings Mills,MD,21117,NaN,NaN,13857.0,NaN

In [55]:
df1.head()

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
0,100654,Alabama A & M University,Normal,AL,35762,0.9027,4824.0,9857.0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,0.9181,12866.0,8328.0,NaN
2,100690,Amridge University,Montgomery,AL,36117-3553,NaN,318.0,6900.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,0.8123,6917.0,10280.0,NaN
4,100724,Alabama State University,Montgomery,AL,36104-0271,0.9787,4189.0,11068.0,NaN

In [72]:
df1 = df.copy()

In [75]:
# state_id= df1[df1['STABBR']=='MD'or df1['STABBR']=='Virgina' or df1['STABBR']=='Virgina' or df1['STABBR']=='DC' or df1['STABBR']=='DE'or df1['STABBR']=='PA' ]
states = ['MD', 'Virgina', 'DC', 'DE','PA']
state_id= df1[df1.STABBR.isin(states)]
state_id

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
634,130837,Margaret H Rollins School of Nursing at Beebe ...,Lewes,DE,19958,NaN,59.0,NaN,NaN
635,130873,Dawn Career Institute LLC,Newark,DE,19702,NaN,108.0,NaN,NaN
636,130907,Delaware Technical Community College-Terry,Dover,DE,19901,NaN,12408.0,4848.0,NaN
637,130934,Delaware State University,Dover,DE,19901,0.4518,3678.0,7868.0,NaN
638,130943,University of Delaware,Newark,DE,19716,0.6289,18948.0,13160.0,NaN
639,130989,Goldey-Beacom College,Wilmington,DE,19808,0.5177,770.0,23850.0,NaN
640,131061,Schilling-Douglas School of Hair Design LLC,Newark,DE,19711,NaN,133.0,NaN,NaN
641,131098,Wesley College,Dover,DE,19901-3875,0.6151,1342.0,26406.0,NaN
642,131113,Wilmington University,New Castle,DE,19720,NaN,8346.0,10940.0,NaN
643,131159,American University,Washington,DC,20016-8001,0.2940,7433.0,46615.0,NaN
644,131283,The Catholic University of America,Washington,DC,20064,0.8258,3284.0,44060.0,NaN
645,131399,University of the District of Columbia,Washington,DC,20008,NaN,3606.0,5756.0,NaN
646,131405,Pontifical Faculty of the Immaculate Conceptio...,Washington,DC,20017-1585,NaN,NaN,NaN,NaN
647,131450,Gallaudet University,Washington,DC,20002-3695,0.5901,1111.0,16558.0,NaN
648,131469,George Washington University,Washington,DC,20052,0.4098,11718.0,53518.0,NaN
649,131496,Georgetown University,Washington,DC,20057-0001,0.1568,7128.0,52300.0,NaN
650,131520,Howard University,Washington,DC,20059-0001,0.4142,6276.0,25697.0,NaN
651,131803,Strayer University-District of Columbia,Washington,DC,20005,NaN,687.0,13857.0,NaN
652,131830,National Conservatory of Dramatic Arts,Washington,DC,20007,1.0000,32.0,9900.0,NaN
653,131876,Trinity Washington University,Washington,DC,20017-1094,0.9228,1498.0,23690.0,NaN
654,131973,Wesley Theological Seminary,Washington,DC,20016-5690,NaN,NaN,NaN,NaN
1446,161651,Aesthetics Institute of Cosmetology,Gaithersburg,MD,20877,NaN,25.0,NaN,NaN
1447,161688,Allegany College of Maryland,Cumberland,MD,21502-2596,NaN,1990.0,3940.0,NaN
1448,161767,Anne Arundel Community College,Arnold,MD,21012-1895,NaN,11294.0,4646.0,NaN
1449,161776,Brightwood College-Towson,Towson,MD,21286-2201,NaN,309.0,NaN,NaN
1450,161800,Award Beauty School,Hagerstown,MD,21740-5610,NaN,157.0,NaN,NaN
1451,161855,Baltimore Studio of Hair Design,Baltimore,MD,21201-3444,NaN,46.0,NaN,NaN
1452,161864,Baltimore City Community College,Baltimore,MD,21215-7893,NaN,3797.0,3074.0,NaN
1453,161873,University of Baltimore,Baltimore,MD,21201-5720,0.8099,2856.0,8824.0,NaN
1454,162007,Bowie State University,Bowie,MD,20715-9465,0.3600,5107.0,8064.0,NaN
...,...,...,...,...,...,...,...,...,...
6726,13090702,Delaware Technical Community College-Stanton/W...,Wilmington,DE,19801,NaN,NaN,4848.0,NaN
6727,13180301,Strayer University-Takoma Park Campus,Washington,DC,20012,NaN,NaN,13857.0,NaN
6800,16210401,Cecil College - Elkton Station,Elkton,MD,219215535,NaN,NaN,4005.0,NaN
6899,20651601,Winebrenner Theological Seminary -,Scotland,PA,172540473,NaN,NaN,NaN,NaN
6904,21078401,The Beauty Institute,Philadelphia,PA,19115,NaN,NaN,NaN,NaN
6905,21130701,Bucks County Community College-Upper Bucks Campus,Perkasie,PA,189440277,NaN,NaN,4418.0,NaN
6906,21130702,Bucks County Community College-Lower Bucks Campus,Bristol,PA,190070277,NaN,NaN,4418.0,NaN
6907,21287801,Harrisburg Area Community College-Lancaster,Lancaster,PA,176023403,NaN,NaN,6473.0,NaN
6908,21287802,Harrisburg Area Community College-Gettysburg,Gettysburg,PA,173253403,NaN,NaN,6473.0,NaN
6909,21287803,Harrisburg Area Community College-Lebanon,Lebanon,PA,170425235,NaN,NaN,6473.0,NaN
6910,21287804,Harrisburg Area Community College-York,York,PA,174045235,NaN,NaN,6473.0,NaN
6911,21429001,New Castle School of Trades,Pulaski,PA,161432522,NaN,NaN,NaN,NaN
6913,21437901,Northampton County Area Community College-Monroe,Tannersville,PA,18372,NaN,NaN,4230.0,NaN
6914,21510501,Villanova University - Summer Music Studies Pr...,Villanova,PA,190853699,NaN,NaN,NaN,NaN
6915,21608301,South Hills School of Business and Technology-...,Altoona,PA,16602,NaN,NaN,16608.0,NaN
6984,37593901,YTI Career Institute - Altoona,Altoona,PA,166024457,NaN,NaN,NaN,NaN
7004,43018401,Strayer University-Rockville Campus,Rockville,MD,20850,NaN,NaN,13857.0,NaN
7005,43018402,Strayer University-Anne Arundel Campus,Millersville,MD,21108,NaN,NaN,13857.0,NaN
7006,43018403,Strayer University-White Marsh Campus,Baltimore,MD,21236,NaN,NaN,13857.0,NaN
7007,43018404,Strayer University-Owings Mills Campus,Owings Mills,MD,21117,NaN,NaN,13857.0,NaN
7020,44378401,Strayer University-Delaware County Campus,Springfield,PA,19064,NaN,NaN,13857.0,NaN
7021,44378403,Strayer University-Center City Campus,Philadelphia,PA,19102,NaN,NaN,13747.0,NaN
7022,44378404,Strayer University-Lower Bucks County Campus,Trevose,PA,19053,NaN,NaN,13857.0,NaN
7023,44378405,Strayer University-Warrendale Campus,Warrendale,PA,15086,NaN,NaN,13857.0,NaN
7024,44378406,Strayer University-Allentown Campus,Center Valley,PA,18034,NaN,NaN,13857.0,NaN
7063,45794301,Somerset County Technology Center - Bedford Site,Bedford,PA,15522,NaN,NaN,NaN,NaN
7084,47503303,Relay Graduate School of Education - Delaware,Wilmington,DE,19801,NaN,NaN,NaN,NaN
7089,47503308,Relay Graduate School of Education - Philadelp...,Philadelphia,PA,191224906,NaN,NaN,NaN,NaN
7094,47503313,Relay Graduate School of Education - Washingto...,Washington,DC,20002,NaN,NaN,NaN,NaN
7103,48305401,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000,NaN,NaN,NaN,NaN

In [76]:
df1.to_csv(r'C:\Users\Sunny\Desktop\b.csv', sep = ';')

In [67]:
df.loc[df['STABBR'] == 'DC']

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
643,131159,American University,Washington,DC,20016-8001,0.2940,7433.0,46615.0,NaN
644,131283,The Catholic University of America,Washington,DC,20064,0.8258,3284.0,44060.0,NaN
645,131399,University of the District of Columbia,Washington,DC,20008,NaN,3606.0,5756.0,NaN
646,131405,Pontifical Faculty of the Immaculate Conceptio...,Washington,DC,20017-1585,NaN,NaN,NaN,NaN
647,131450,Gallaudet University,Washington,DC,20002-3695,0.5901,1111.0,16558.0,NaN
648,131469,George Washington University,Washington,DC,20052,0.4098,11718.0,53518.0,NaN
649,131496,Georgetown University,Washington,DC,20057-0001,0.1568,7128.0,52300.0,NaN
650,131520,Howard University,Washington,DC,20059-0001,0.4142,6276.0,25697.0,NaN
651,131803,Strayer University-District of Columbia,Washington,DC,20005,NaN,687.0,13857.0,NaN
652,131830,National Conservatory of Dramatic Arts,Washington,DC,20007,1.0000,32.0,9900.0,NaN
653,131876,Trinity Washington University,Washington,DC,20017-1094,0.9228,1498.0,23690.0,NaN
654,131973,Wesley Theological Seminary,Washington,DC,20016-5690,NaN,NaN,NaN,NaN
4100,363721,University of the District of Columbia-David A...,Washington,DC,20008,NaN,NaN,NaN,NaN
4348,384412,University of the Potomac-Washington DC Campus,Washington,DC,20005,NaN,65.0,13884.0,NaN
4616,420370,Career Technical Institute,Washington,DC,20005,NaN,387.0,NaN,NaN
4844,439473,Bennett Career Institute,Washington,DC,20017,NaN,312.0,NaN,NaN
5079,444893,Technical Learning Centers Inc,Washington,DC,20006-5540,NaN,172.0,NaN,NaN
5328,450483,University of Phoenix-Washington DC,Washington,DC,20001-1431,NaN,70.0,9960.0,NaN
5520,455804,Institute of World Politics,Washington,DC,20036,NaN,NaN,NaN,NaN
5521,455813,Pontifical John Paul II Institute for Studies ...,Washington,DC,20064,NaN,NaN,NaN,NaN
5739,459745,The Chicago School of Professional Psychology ...,Washington,DC,20005,NaN,NaN,NaN,NaN
5747,459994,Strayer University-Global Region,Washington,DC,20005,NaN,5543.0,13857.0,NaN
6727,13180301,Strayer University-Takoma Park Campus,Washington,DC,20012,NaN,NaN,13857.0,NaN
7094,47503313,Relay Graduate School of Education - Washingto...,Washington,DC,20002,NaN,NaN,NaN,NaN

In [68]:
df.loc[df['STABBR'] == 'DE']

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
634,130837,Margaret H Rollins School of Nursing at Beebe ...,Lewes,DE,19958,NaN,59.0,NaN,NaN
635,130873,Dawn Career Institute LLC,Newark,DE,19702,NaN,108.0,NaN,NaN
636,130907,Delaware Technical Community College-Terry,Dover,DE,19901,NaN,12408.0,4848.0,NaN
637,130934,Delaware State University,Dover,DE,19901,0.4518,3678.0,7868.0,NaN
638,130943,University of Delaware,Newark,DE,19716,0.6289,18948.0,13160.0,NaN
639,130989,Goldey-Beacom College,Wilmington,DE,19808,0.5177,770.0,23850.0,NaN
640,131061,Schilling-Douglas School of Hair Design LLC,Newark,DE,19711,NaN,133.0,NaN,NaN
641,131098,Wesley College,Dover,DE,19901-3875,0.6151,1342.0,26406.0,NaN
642,131113,Wilmington University,New Castle,DE,19720,NaN,8346.0,10940.0,NaN
4729,432524,Delaware College of Art and Design,Wilmington,DE,19801-3007,0.7900,143.0,25710.0,NaN
4917,441362,Harris School of Business-Wilmington Campus,Wilmington,DE,19803,NaN,219.0,NaN,NaN
5037,444200,Harris School of Business-Dover Campus,Dover,DE,19901,NaN,226.0,NaN,NaN
5275,449472,Delaware Learning Institute of Cosmetology,Dagsboro,DE,19939,NaN,39.0,NaN,NaN
5322,450298,Strayer University-Delaware,Newark,DE,19713,NaN,267.0,13857.0,NaN
5354,451051,Academy of Massage and Bodywork,Bear,DE,19701,NaN,95.0,NaN,NaN
5718,459301,Paul Mitchell the School-Delaware,Newark,DE,19702,NaN,103.0,NaN,NaN
6527,488262,Hair Academy School of Barbering & Beauty,Newark,DE,19713-2305,NaN,33.0,NaN,NaN
6725,13090701,Delaware Technical Community College-Owens,Georgetown,DE,19947,NaN,NaN,4848.0,NaN
6726,13090702,Delaware Technical Community College-Stanton/W...,Wilmington,DE,19801,NaN,NaN,4848.0,NaN
7084,47503303,Relay Graduate School of Education - Delaware,Wilmington,DE,19801,NaN,NaN,NaN,NaN

In [69]:
df.loc[df['STABBR'] == 'PA']

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
2933,210474,Jolie Hair and Beauty Academy-Hazleton,Hazleton,PA,18201,NaN,61.0,NaN,NaN
2934,210492,Bryn Athyn College of the New Church,Bryn Athyn,PA,19009-0711,0.8755,323.0,21126.0,NaN
2935,210508,Academy of Vocal Arts,Philadelphia,PA,19103-6685,NaN,NaN,NaN,NaN
2936,210571,Albright College,Reading,PA,19612-5234,0.5004,1999.0,43454.0,NaN
2937,210599,All-State Career School,Essington,PA,19029,NaN,306.0,NaN,NaN
2938,210605,Community College of Allegheny County,Pittsburgh,PA,15233-1895,NaN,14804.0,4198.0,NaN
2939,210669,Allegheny College,Meadville,PA,16335-3902,0.6789,1764.0,45970.0,NaN
2940,210711,The Beauty Institute,Allentown,PA,18109-1629,NaN,28.0,NaN,NaN
2941,210739,DeSales University,Center Valley,PA,18034-9568,0.7379,2291.0,35900.0,NaN
2942,210748,Altoona Beauty School Inc,Altoona,PA,16602-6039,NaN,53.0,NaN,NaN
2943,210775,Alvernia University,Reading,PA,19607-1799,0.7081,2231.0,33640.0,NaN
2944,210784,The Beauty Institute-Ambler,Ambler,PA,19002,NaN,115.0,NaN,NaN
2945,210809,American College of Financial Services,King of Prussia,PA,19406,NaN,8354.0,NaN,NaN
2946,210890,Antonelli Institute,Erdenheim,PA,19038-8242,NaN,71.0,19890.0,NaN
2947,210942,The Art Institute of Philadelphia,Philadelphia,PA,19103-5198,NaN,842.0,17914.0,NaN
2948,210951,Career Training Academy-Lower Burrell,Lower Burrell,PA,15068,NaN,130.0,NaN,NaN
2949,210960,The Art Institute of Pittsburgh,Pittsburgh,PA,15222,NaN,431.0,17626.0,NaN
2950,211006,Automotive Training Center-Exton,Exton,PA,19341-1310,NaN,304.0,NaN,NaN
2951,211024,Clarks Summit University,South Abington Township,PA,18411-1250,0.5508,498.0,23890.0,NaN
2952,211079,Community College of Beaver County,Monaca,PA,15061-2588,NaN,1768.0,5880.0,NaN
2953,211088,Arcadia University,Glenside,PA,19038-3295,0.6229,2233.0,42330.0,NaN
2954,211130,Missio Theological Seminary,Philadelphia,PA,19123,NaN,NaN,NaN,NaN
2955,211149,Bidwell Training Center Inc,Pittsburgh,PA,15233,0.8529,141.0,NaN,NaN
2956,211158,Bloomsburg University of Pennsylvania,Bloomsburg,PA,17815,0.7325,8276.0,10500.0,NaN
2957,211200,Bradford School,Pittsburgh,PA,15219,0.9054,352.0,15380.0,NaN
2958,211273,Bryn Mawr College,Bryn Mawr,PA,19010,0.3801,1328.0,50500.0,NaN
2959,211291,Bucknell University,Lewisburg,PA,17837,0.3108,3588.0,53986.0,NaN
2960,211307,Bucks County Community College,Newtown,PA,18940-4106,NaN,7257.0,4418.0,NaN
2961,211316,Bucks County School of Beauty Culture Inc,Feasterville,PA,19053-7368,NaN,72.0,NaN,NaN
2962,211334,Butler Beauty Academy,Butler,PA,16001,NaN,20.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6266,483753,Champ's Barber School,Lancaster,PA,17602-3809,NaN,37.0,NaN,NaN
6271,483823,Philadelphia Technician Training,Philadelphia,PA,19138-1324,NaN,171.0,NaN,NaN
6332,484783,University of Phoenix-Pennsylvania,Philadelphia,PA,19103,NaN,141.0,9960.0,NaN
6349,485236,Fountain of Youth Academy of Cosmetology,Mars,PA,16046,NaN,36.0,NaN,NaN
6360,485397,Empire Beauty School-Cheltenham,Wyncote,PA,19095,NaN,106.0,NaN,NaN
6383,485856,Studio Incamminati,Philadelphia,PA,19107-1105,1.0000,36.0,12625.0,NaN
6392,486105,Professional Academy of Cosmetology,Norristown,PA,19401-0000,NaN,8.0,NaN,NaN
6536,488369,Premier Barber Institute,Norristown,PA,19401-5163,NaN,46.0,NaN,NaN
6607,490258,American Barber Academy,Reading,PA,19611-2040,NaN,49.0,NaN,NaN
6899,20651601,Winebrenner Theological Seminary -,Scotland,PA,172540473,NaN,NaN,NaN,NaN
6904,21078401,The Beauty Institute,Philadelphia,PA,19115,NaN,NaN,NaN,NaN
6905,21130701,Bucks County Community College-Upper Bucks Campus,Perkasie,PA,189440277,NaN,NaN,4418.0,NaN
6906,21130702,Bucks County Community College-Lower Bucks Campus,Bristol,PA,190070277,NaN,NaN,4418.0,NaN
6907,21287801,Harrisburg Area Community College-Lancaster,Lancaster,PA,176023403,NaN,NaN,6473.0,NaN
6908,21287802,Harrisburg Area Community College-Gettysburg,Gettysburg,PA,173253403,NaN,NaN,6473.0,NaN
6909,21287803,Harrisburg Area Community College-Lebanon,Lebanon,PA,170425235,NaN,NaN,6473.0,NaN
6910,21287804,Harrisburg Area Community College-York,York,PA,174045235,NaN,NaN,6473.0,NaN
6911,21429001,New Castle School of Trades,Pulaski,PA,161432522,NaN,NaN,NaN,NaN
6913,21437901,Northampton County Area Community College-Monroe,Tannersville,PA,18372,NaN,NaN,4230.0,NaN
6914,21510501,Villanova University - Summer Music Studies Pr...,Villanova,PA,190853699,NaN,NaN,NaN,NaN
6915,21608301,South Hills School of Business and Technology-...,Altoona,PA,16602,NaN,NaN,16608.0,NaN
6984,37593901,YTI Career Institute - Altoona,Altoona,PA,166024457,NaN,NaN,NaN,NaN
7020,44378401,Strayer University-Delaware County Campus,Springfield,PA,19064,NaN,NaN,13857.0,NaN
7021,44378403,Strayer University-Center City Campus,Philadelphia,PA,19102,NaN,NaN,13747.0,NaN
7022,44378404,Strayer University-Lower Bucks County Campus,Trevose,PA,19053,NaN,NaN,13857.0,NaN
7023,44378405,Strayer University-Warrendale Campus,Warrendale,PA,15086,NaN,NaN,13857.0,NaN
7024,44378406,Strayer University-Allentown Campus,Center Valley,PA,18034,NaN,NaN,13857.0,NaN
7063,45794301,Somerset County Technology Center - Bedford Site,Bedford,PA,15522,NaN,NaN,NaN,NaN
7089,47503308,Relay Graduate School of Education - Philadelp...,Philadelphia,PA,191224906,NaN,NaN,NaN,NaN
7103,48305401,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000,NaN,NaN,NaN,NaN