Let's read the data using the open

In [4]:
f = open("data.txt", "r")
print(f.read())

Census Year	Total Population	Census Cost	Average Cost Per Person
1790	3,929,214	$44,377	1.13 cents
1800	5,308,483	$66,109	1.24 cents
1810	7,239,881	$178,445	2.46 cents
1820	9,633,822	$208,526	2.16 cents
1830	12,866,020	$378,545	2.94 cents
1840	17,069,458	$833,371	4.88 cents
1850	23,191,876	$1,423,351	6.14 cents
1860	31,443,321	$1,969,377	6.26 cents
1870	38,558,371	$3,421,198	8.87 cents
1880	50,155,783	$5,790,678	11.54 cents
1890	62,979,766	$11,547,127	18.33 cents
1900	76,303,387	$11,854,000	15.54 cents
1910	91,972,266	$15,968,000	17.07 cents
1920	105,710,620	$25,117,000	23.76 cents
1930	122,775,046	$40,156,000	32.71 cents
1940	131,669,275	$67,527,000	51.29 cents
1950	151,325,798	$91,462,000	60.44 cents
1960	179,323,175	$127,934,000	71.34 cents
1970	203,302,031	$247,653,000	$1.22
1980	226,542,199	$1,078,488,000	$4.76
1990	248,718,301	$2,492,830,000	$10.02
2000	281,421,906	$4.5 Billion	$15.99
2010*	308,745,538	$13 Billion	$42.11

Let's define the top_list which is the first two rows of the list.

In [5]:
top2_list=[]

In [6]:
 def topNlines(fname, N): 
	# opening file using with() method 
	# so that file get closed 
	# after completing work 
	with open(fname) as file: 
		
		# loop to read iterate 
		# last n lines and print it 
		for line in (file.readlines() [0:N]):
			top2_list.append(line)
			print(line, end ='') 


# Driver Code: 
if __name__ == '__main__': 
	fname = 'data.txt'
	N = 3
	try: 
		topNlines(fname, N) 
	except: 
		print('File not found')

Census Year	Total Population	Census Cost	Average Cost Per Person
1790	3,929,214	$44,377	1.13 cents
1800	5,308,483	$66,109	1.24 cents

Printing the top list

In [7]:
print(top2_list)

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n']

In order to store the rest of the data, let's define the data_list and print the last rows

In [8]:
data_list=[]

In [9]:
 def lastNlines(fname, N): 
	# opening file using with() method 
	# so that file get closed 
	# after completing work 
	with open(fname) as file: 
		
		# loop to read iterate 
		# last n lines and print it 
		for line in (file.readlines() [N:25]):
			data_list.append(line)
			print(line, end ='') 


# Driver Code: 
if __name__ == '__main__': 
	fname = 'data.txt'
	N = 3
	try: 
		lastNlines(fname, N) 
	except: 
		print('File not found')

1810	7,239,881	$178,445	2.46 cents
1820	9,633,822	$208,526	2.16 cents
1830	12,866,020	$378,545	2.94 cents
1840	17,069,458	$833,371	4.88 cents
1850	23,191,876	$1,423,351	6.14 cents
1860	31,443,321	$1,969,377	6.26 cents
1870	38,558,371	$3,421,198	8.87 cents
1880	50,155,783	$5,790,678	11.54 cents
1890	62,979,766	$11,547,127	18.33 cents
1900	76,303,387	$11,854,000	15.54 cents
1910	91,972,266	$15,968,000	17.07 cents
1920	105,710,620	$25,117,000	23.76 cents
1930	122,775,046	$40,156,000	32.71 cents
1940	131,669,275	$67,527,000	51.29 cents
1950	151,325,798	$91,462,000	60.44 cents
1960	179,323,175	$127,934,000	71.34 cents
1970	203,302,031	$247,653,000	$1.22
1980	226,542,199	$1,078,488,000	$4.76
1990	248,718,301	$2,492,830,000	$10.02
2000	281,421,906	$4.5 Billion	$15.99
2010*	308,745,538	$13 Billion	$42.11

In [10]:
data_list

['1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11']

In order to extract and remove the "*" we are making a temp list and then putting the final report in year_list

In [11]:
year_list = []
for i in range(0,len(data_list)):
    temp = data_list[i].split('\t')
    if '*' in temp[0]:
        year_list.append(temp[0].replace('*',''))
    else:
        year_list.append(temp[0])
    #print(temp)
print(year_list)

['1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

In order to extract and remove the "," we are making a temp list and then putting the final report in pop_list

In [12]:
pop_list = []
for i in range(0,len(data_list)):
    temp = data_list[i].split('\t')
    pop_list.append(temp[1].replace(',',''))
print(pop_list)

['7239881', '9633822', '12866020', '17069458', '23191876', '31443321', '38558371', '50155783', '62979766', '76303387', '91972266', '105710620', '122775046', '131669275', '151325798', '179323175', '203302031', '226542199', '248718301', '281421906', '308745538']

In order to Remove the ",", and "$", and "Billion" we are making a temp list and then putting the final report in cost_list

In [13]:
cost_list = []
for i in range(0,len(data_list)):
    temp = data_list[i].split('\t')
    dummy = temp[2].replace('$','')
    dummy = dummy.replace(',','')
    if 'Billion' in dummy:
        dummy = dummy.replace('Billion','')
        dummy = float(dummy)*(10^9)
    cost_list.append(dummy)

print(cost_list)

['178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', 13.5, 39.0]

In order to Remove the "cents", and "$" we are making a temp list and then putting the final report in avg_list

In [14]:
avg_list = []
for i in range(0,len(data_list)):
    temp = data_list[i].split('\t')
    dummy1 = temp[3].replace('$','')
    dummy1 = dummy1.replace('cents','')
    dummy1 = float(dummy1)/100
    avg_list.append(dummy1)
print(avg_list)

[0.0246, 0.0216, 0.0294, 0.048799999999999996, 0.061399999999999996, 0.0626, 0.08869999999999999, 0.11539999999999999, 0.1833, 0.15539999999999998, 0.1707, 0.2376, 0.3271, 0.5129, 0.6043999999999999, 0.7134, 0.012199999999999999, 0.047599999999999996, 0.1002, 0.15990000000000001, 0.4211]

putting everything in csv

In [15]:
import csv

with open('census_cost.csv', 'r', newline='') as f:
    fieldnames = ['year_list','pop_list','cost_list','avg_list']
    thewriter = csv.DictWriter(f, fieldnames= fieldnames)

In [16]:
print(thewriter)

<csv.DictWriter object at 0x000002339CE65128>

In [21]:
with open('census_cost.csv','w') as file1:
    for i in range(0, len(fieldnames)):
        file1.write(str(fieldnames[i]))
    for i in range(0,len(year_list)):
        file1.write(str(year_list[i]))
        file1.write(str(pop_list[i]))
        file1.write(str(cost_list[i]))
        file1.write(str(avg_list[i]))

In [20]:
fieldnames

['year_list', 'pop_list', 'cost_list', 'avg_list']